@model ClinicX.ViewModels.TestDiseaseVM

@{
    ViewData["Title"] = "Clinic-X - Diagnoses";
}

<div class="container card">
    <div class="mb-5 mt-2 g-2">
        <a class="btn btn-default btn-success" asp-controller="Patient" asp-action="PatientDetails" asp-route-id=@Model.patient.MPI>Back to Patient</a>
    </div>

    @if (Model.diagnosisList.Count() > 0)
    {
        <h1 class="text-center">Diagnoses for <a asp-controller="Patient" asp-action="PatientDetails" asp-route-id=@Model.patient.MPI>@Model.patient.FIRSTNAME @Model.patient.LASTNAME</a></h1>

        <div class="d-grid">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Disease Code</th>
                        <th>Disease</th>
                        <th>Status</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.diagnosisList)
                    {   
                        <tr>
                            <td><a asp-controller="Diagnosis" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-success">Select</a></td>
                            <td>@item.DISEASE_CODE</td>
                            <td>@item.DESCRIPTION</td>
                            <td>@item.STATUS</td>
                            <td>@item.MAIN_SUB</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h1>There are no diagnoses  recorded for this patient.</h1>
    }


    <div class="row g-5 mb-5">
        <div col-md-2></div>
        <div col-md-2><a type="button" class="btn btn-default btn-success" asp-controller="Diagnosis" asp-action="AddNew" asp-route-id="@Model.patient.MPI")>Add New</a></div>
        @*wow, this makes no fucking sense... for some reason the id has to be on quotes, even though it doesn't elsewhere...FFS!!!!*@
        @*<div col-md-2><button id="btnAddNew" class="btn btn-default btn-success">Add New</button> </div>*@
        <div col-md-8></div>
    </div>    
</div>