@model ClinicX.ViewModels.DictatedLetterVM

@{
    ViewData["Title"] = "Clinic-X - Select Activity Item";
    ViewData["Page"] = "/ Dictated Letter / Select Activity Item";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id = Model.patientDetails.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Dictated Letters List for Patient", "DictatedLettersForPatient", "DictatedLetter", new { id = Model.patientDetails.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Dictated Letters List", "Index", "DictatedLetter", new {  }, new { @class = "btn btn-success m-1" }),
    };
}

<div class="container card">
    <div class="row g-5 mb-5">
        <h2>Choose activity item to create new dictated letter for @Model.patientDetails.FIRSTNAME @Model.patientDetails.LASTNAME, <a asp-controller="Patient" asp-action="PatientDetails" asp-route-id=@Model.patientDetails.MPI>@Model.patientDetails.CGU_No</a></h2>
    </div>

    <div class="d-grid">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Type</th>
                    <th>Pathway</th>
                    <th>Referral/Booked Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.activities)
                {
                    <tr>
                        <td><a asp-controller="DictatedLetter" asp-action="Create" asp-route-id=@item.RefID>Select</a></td>
                        <td>@item.TYPE</td>
                        <td>@item.PATHWAY</td>                        
                        @if(item.BOOKED_DATE.HasValue)
                        {
                            <td>@item.BOOKED_DATE.Value.ToString("dd/MM/yyyy")</td>
                        }
                        else
                        {
                            @if(item.REFERRAL_DATE.HasValue)
                            {
                                <td>@item.REFERRAL_DATE.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</div>

