@model ClinicX.ViewModels.DictatedLetterVM

@{
    ViewData["Title"] = "Clinic-X - Dictated Letters";
    ViewData["Page"] = "/ Dictated Letter / Edit";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {        
        Html.ActionLink("New Dictated Letter", "NewDOTLetterPatient", "DictatedLetter", new { }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Other Clinicians' Letters", "OtherCliniciansLetters", "DictatedLetter", new { }, new { @class = "btn btn-success m-1" }),
    };
}


<div class="container card">
   
    <div class="d-grid">
        @if (Model.dictatedLettersForApproval.Count() == 0)
        {
            <h1>There are no letters outstanding</h1>
        }
        else
        {
            <div class="row g-2 mb-5 mt-2">
                @*<h1 class="text-center">Welcome @Html.DisplayFor(model => model.FirstOrDefault().LetterFrom)!</h1>*@
                <h2 class="text-center">Letters to approve:</h2>
            </div>

            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th>CGU No</th>
                        <th>Patient</th>
                        <th>Letter To</th>                        
                        <th>@Html.DisplayNameFor(model => model.dictatedLetters.DateDictated)</th>                
                        <th>Status</th>
                        <th>Comments</th>
                        <th>Date created</th>
                    </tr>
                </thead>
                <tbody>                
                    @foreach (var item in Model.dictatedLettersForApproval)
                    {
                        @if (item.Status != "For Printing")
                        {
                            <tr>
                                <td><a asp-controller="DictatedLetter" asp-action="Edit" asp-route-id=@item.DoTID class="btn btn-success">@item.CGU_No</a></td>
                                <td>@item.Patient</td>
                                <td>@item.LetterToSalutation</td>                                
                                @if (@item.DateDictated.HasValue)
                                {
                                    <td><span hidden>@item.DateDictated.Value.ToString("yyyyMMdd")</span>@item.DateDictated.Value.ToString("dd/MM/yyyy")</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td>@item.Status</td>
                                <td>@item.Comments</td>
                                @if(@item.CreatedDate.HasValue)
                                {
                                    <td><span hidden>@item.CreatedDate.Value.ToString("yyyyMMdd")</span>@item.CreatedDate.Value.ToString("dd/MM/yyyy")</td>
                                }
                                else
                                {
                                    <td>Unknown</td>
                                }
                            </tr>                  
                        }
                    }
                
                </tbody>
            </table>
        }
    </div>


   

    <div class="d-grid">       
        @if (Model.dictatedLettersForPrinting.Count() == 0)
        {
            <h1>There are no letters awaiting printing</h1>                   
        }
        else
        {
            <div class="row g-5 mb-5">
                <h2 class="text-center">Letters awaiting printing:</h2>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>CGU No</th>
                        <th>Patient</th>
                        <th>Letter To</th>
                        <th>@Html.DisplayNameFor(model => model.dictatedLetters.DateDictated)</th>
                        <th>Status</th>
                        <th>Comments</th>
                        <th>Date created</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.dictatedLettersForPrinting)
                    {
                        @if (item.Status == "For Printing")
                        {
                            <tr>
                                <td><a asp-controller="DictatedLetter" asp-action="Edit" asp-route-id=@item.DoTID class="btn btn-success">@item.CGU_No</a></td>
                                <td>@item.Patient</td>
                                <td>@item.LetterTo</td>                                
                                @if (@item.DateDictated.HasValue)
                                {
                                    <td><span hidden>@item.DateDictated.Value.ToString("yyyyMMdd")</span>@item.DateDictated.Value.ToString("dd/MM/yyyy")</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            <td>@item.Status</td>
                            <td>@item.Comments</td>
                            @if (@item.CreatedDate.HasValue)
                            {
                                <td><span hidden>@item.CreatedDate.Value.ToString("yyyyMMdd")</span>@item.CreatedDate.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>Unknown</td>
                            }
                        </tr>
                        }
                    }
                
                </tbody>
            </table>
        }
    </div>
</div>
<script>

    window.addEventListener("load", LoadTable)
    function LoadTable()
    {

        let table = new DataTable('#myTable',
        {
            "order": [] //disable initial sorting and allow the data sorting in the back-end
        });
    }

</script>