@model ClinicX.ViewModels.CancerVeryHighRiskVM

@{
    ViewData["Title"] = "Clinic-X - VHR Proforma";
}

@{
    ViewData["Title"] = "ClinicX - VHR Proforma";
    ViewData["Page"] = "/ Triage / VHRPro";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id=Model.icpCancer.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Back to Cancer ICP Review", "CancerReview", "Triage", new { id=Model.icpCancer.ICP_Cancer_ID }, new { @class = "btn btn-success m-1"}),
        Html.ActionLink("Back to Triage Index", "Index", "Triage", new { }, new { @class = "btn btn-success m-1" }),
    };
}

<div class="container card">

    @if (Model.message != null)
    {
        @if (Model.success)
        {
            <div class="alert alert-success d-block text-center">
                <h3>@Model.message</h3>
            </div>
        }
        else
        {
            <div class="alert alert-danger d-block text-center">
                <h3>@Model.message</h3>
            </div>
        }
    }

    <div class="row mb-5 g-2 mt-2">
        <div class="col-md-2">
            <a type="button" class="btn btn-default btn-success" asp-controller="Triage" asp-action="CancerReview" asp-route-id=@Model.icpCancer.ICP_Cancer_ID>Back to ICP Review</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default btn-success" asp-controller="Patient" asp-action="PatientDetails" asp-route-id=@Model.icpCancer.MPI>Patient Details</a>
        </div>
    </div>

    <div class="row mb-5 g-5">
        <h1>Create VHRPro for @Model.icpCancer.FIRSTNAME @Model.icpCancer.LASTNAME</h1>
    </div>

    @if (Model.untestedVHRGroup != null)
    {
        <form asp-action="EditUntestedVHROptions">
            <div class="row mb-5 g-5" hidden>
                <input name="id" asp-for=@Model.untestedVHRGroup.RelativeRiskID />
            </div>

            <div class="row mb-5 g-5">
                <div class="col-md-4">
                    <label>Age at which 8% threshold is met</label>
                </div>
                <div class="col-md-1">                    
                    <input type="text" class="w-100" name="thresholdAge" asp-for=@Model.untestedVHRGroup.ThresholdAge8pct />
                </div>
            </div>
            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <label>First degree relative under 30</label>
                </div>
                <div class="col-md-1">
                    <input type="checkbox" id="chkBelow30" asp-for=@Model.untestedVHRGroup.FirstDegreeBelow30 />
                    <input type="text" id="txtBelow30" name="below30" asp-for=@Model.untestedVHRGroup.FirstDegreeBelow30 hidden />
                </div>
                <div class="col-md-2">
                    <label>First degree relative 30 to 50</label>
                </div>
                <div class="col-md-1">
                    <input type="checkbox" id="chkBelow50" asp-for=@Model.untestedVHRGroup.FirstDegreeBelow50 />
                    <input type="text" id="txtBelow50" name="below50" asp-for=@Model.untestedVHRGroup.FirstDegreeBelow50 hidden />
                </div>
                <div class="col-md-2">
                    <label>Other untested</label>
                </div>
                <div class="col-md-1">
                    <input type="checkbox" id="chkOther" asp-for=@Model.untestedVHRGroup.OtherUntested />
                    <input type="text" id="txtOther" name="other" asp-for=@Model.untestedVHRGroup.OtherUntested hidden />
                </div>
                <div class="col-md-2">
                    <label>Genetic cause not identified</label>
                </div>
                <div class="col-md-1">
                    <input type="checkbox" id="chkNotID" asp-for=@Model.untestedVHRGroup.CauseNotIdentified />
                    <input type="text" id="txtNotID" name="notID" asp-for=@Model.untestedVHRGroup.CauseNotIdentified hidden />
                </div>
            </div>
            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Save Options</button>
                </div>
            </div>
        </form>
    }
    else
    {
        <div class="row mb-5 g-5">            
            <div class="col-md-2">                
                <a type="button" class="btn btn-success" asp-controller="CancerVeryHighRisk" asp-action="NewUntestedVHROptions" asp-route-refid=@Model.referral.refid>New Untested VHR Group Options</a>
            </div>
        </div>
    }


    <form id="VHRProForm" asp-action="VHRPro">
        <div class="row mb-5 g-5" hidden="true">
            <input asp-for=@Model.icpCancer.ICP_Cancer_ID name="id" />
        </div>

        <div class="d-grid">
            <div class="row mb-5 g-5">
                <div class="col-md-1">
                    <label>Clinician:</label>
                </div>
                <div class="col-md-5">
                    <select class="w-100" name="screeningService" asp-for=@Model.defaultScreeningCo>
                        <option value="">Select...</option>
                        @foreach (var item in Model.screeningCoordinators)
                        {
                            <option value=@item.ScreeningOfficeCode>@item.Contact, @item.BreastScreeningService</option>
                        }
                    </select>
                </div>
            </div>
        

            <div class="row mb-5 g-5">            
                <div class="col-md-1">
                    <label>Free text:</label>
                </div>
                <div class="col-md-4">
                    <textarea class="w-100" name="freeText"></textarea>
                </div>
            </div>        

            <div class="row mb-5 g-5">
                <input id="txtIsPreview" name="isPreview" hidden="true" />
                <div class="col-md-2">
                    <button type="button" id="btnVHRProSubmit" class="btn btn-success">Create VHR Proforma and Letter</button>
                </div>
                <div class="col-md-2">
                    <button type="button" id="btnVHRProPreview" class="btn btn-success">Preview VHR Proforma</button>
                </div>
            </div>
        </div>

    </form>
</div>

<script>
    document.getElementById("btnVHRProSubmit").addEventListener("click", DoVHRPro);
    document.getElementById("btnVHRProPreview").addEventListener("click", DoVHRProPreview);
    document.getElementById("chkBelow30").addEventListener("change", SetBelow30);
    document.getElementById("chkBelow50").addEventListener("change", SetBelow50);
    document.getElementById("chkOther").addEventListener("change", SetOther);
    document.getElementById("chkNotID").addEventListener("change", SetNotID);

    function DoVHRPro()
    {
        document.getElementById("txtIsPreview").value = "false";
        document.getElementById("VHRProForm").submit();
    }

    function DoVHRProPreview()
    {
        document.getElementById("txtIsPreview").value = "true";
        document.getElementById("VHRProForm").submit();
    }

    function SetBelow30()
    {
        document.getElementById("txtBelow30").value = document.getElementById("chkBelow30").checked;
    }

    function SetBelow50()
    {
        document.getElementById("txtBelow50").value = document.getElementById("chkBelow50").checked;
    }

    function SetOther()
    {
        document.getElementById("txtOther").value = document.getElementById("chkOther").checked;
    }

    function SetNotID()
    {
        document.getElementById("txtNotID").value = document.getElementById("chkNotID").checked;
    }
    

</script>

