@model ClinicX.ViewModels.LettersMenuVM

@{
    ViewData["Title"] = "ClinicX - Letters Menu";
    ViewData["Page"] = "/ LettersMenu / Index";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id=Model.patient.MPI }, new { @class = "btn btn-success m-1" }),
    };
}

<div class="container">
    <div class="row mb-5 g-5">
        <h1>Letters for @Model.patient.FIRSTNAME @Model.patient.LASTNAME (@Model.patient.CGU_No)</h1>
    </div>

    <div class="row mb-5 g-5" id="divReferral" hidden> @*we can't just have it conditionally appear, because Javascript.*@
        <div class="col-md-4">
            <select id="ddlRefID">
                @foreach(var item in Model.referralList)
                {
                    <option value=@item.refid>@item.RefType = @item.RefDate.Value.ToShortDateString()</option>
                }
            </select>
        </div>
    </div>
    

    <div class="row mb-5 g-5">
        <div class="col-md-4">
            <select id="letterGroups">
                <option value="">Select Group</option>
                <option value="Standard">Standard</option>
                <option value="MEDREC">Medical Records Requests</option>
                <option value="DNATS">DNA</option>
                <option value="Outcome">Outcome</option>
                <option value="Reports">Reports</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>

    
    <form id="frmDoLetter" asp-action="DoLetter">
        <div class="row mb-5 g-5">
            <input name="refID" id="txtRefID" asp-for=@Model.referral.refid hidden />
            <input id="txtReferrerCode" asp-for=@Model.referral.ReferrerCode hidden />
            <input name="docCode" id="txtDocCode" hidden />
            <input id="txtDocID" hidden />
            <input name="isPreview" id="txtIsPreview" hidden />
            <div class="col-md-4">
                <select name="docID" id="docGroupStandard" hidden>
                    <option value="" selected>Select</option>
                    @foreach (var item in Model.docsListStandard)
                    {
                        <option value=@item.DocCode>@item.DocCode - @item.DocName</option>
                    }
                </select>
                <select name="docID" id="docGroupMedRec" hidden>
                    <option value="" selected>Select</option>
                    @foreach (var item in Model.docsListMedRec)
                    {
                        <option value=@item.DocCode>@item.DocCode - @item.DocName</option>
                    }
                </select>
                <select name="docID" id="docGroupDNA" hidden>
                    <option value="" selected>Select</option>
                    @foreach (var item in Model.docsListDNA)
                    {
                        <option value=@item.DocCode>@item.DocCode - @item.DocName</option>
                    }
                </select>
                <select name="docID" id="docGroupOutcome" hidden>
                    <option value="" selected>Select</option>
                    @foreach (var item in Model.docsListOutcome)
                    {
                        <option value=@item.DocCode>@item.DocCode - @item.DocName</option>
                    }
                </select>
                <select name="docID" id="docGroupReports" hidden>
                    <option value="" selected>Select</option>
                    @foreach (var item in Model.docsListReports)
                    {
                        <option value=@item.DocCode>@item.DocCode - @item.DocName</option>
                    }
                </select>
                <select name="docID" id="docGroupOther" hidden>
                    <option value="" selected>Select</option>
                    @foreach (var item in Model.docsListOther)
                    {
                        <option value=@item.DocCode>@item.DocCode - @item.DocName</option>
                    }
                </select>
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Free text:</label>
            </div>
            <div class="col-md-4">
                <textarea name="additionalText" id="txtFreeText" cols="40" rows="5"></textarea>
            </div>
            <div class="col-md-2">
                <label>Enclosures</label>
            </div>
            <div class="col-md-4">
                <textarea name="enclosures" id="txtEnclosures" cols="40" rows="5"></textarea>
            </div>
        </div>

        <div class="row mb-5 g-5" hidden id="divExtClinician">
            <div class="col-md-2">
                <label>Recipient:</label>
            </div>
            <div class="col-md-4">                
                <select id="ddlScreeningCoordinator" hidden onchange=SetOtherClinician("screening")> @*inline is necessary because I can't pass a parameter otherwise*@
                    <option value="">Select ...</option>
                    @if (Model.patGP != null)
                    {
                        <option value=@Model.patGP.MasterClinicianCode>@Model.patGP.TITLE @Model.patGP.FIRST_NAME @Model.patGP.LAST_NAME - GP</option>
                    }
                    @foreach (var item in Model.screeningCoordinatorList)
                    {
                        <option value=@item.MasterClinicianCode>@item.Contact - @item.FacilityName</option>
                    }
                </select>
                <select id="ddlGeneticsCentre" hidden onchange=SetOtherClinician("genetics")>
                    <option value="">Select ...</option>
                    @if (Model.patGP != null)
                    {
                        <option value=@Model.patGP.MasterClinicianCode>@Model.patGP.TITLE @Model.patGP.FIRST_NAME @Model.patGP.LAST_NAME - GP</option>
                    }
                    @foreach (var item in Model.geneticsList)
                    {
                        <option value=@item.MasterClinicianCode>@item.TITLE @item.FIRST_NAME @item.LAST_NAME - @item.FACILITY</option>
                    }
                </select>
                <select id="ddlHistoList" hidden onchange=SetOtherClinician("histo")>
                    <option value="">Select ...</option>
                    @if(Model.patGP != null)
                    {
                        <option value=@Model.patGP.MasterClinicianCode>@Model.patGP.TITLE @Model.patGP.FIRST_NAME @Model.patGP.LAST_NAME - GP</option>
                    }
                    @foreach (var item in Model.histoList)
                    {
                        <option value=@item.MasterClinicianCode>@item.TITLE @item.FIRST_NAME @item.LAST_NAME - @item.FACILITY</option>
                    }
                </select>
                <select id="ddlBreastList" hidden onchange=SetOtherClinician("breast")>
                    <option value="">Select ...</option>
                    @if (Model.patGP != null)
                    {
                        <option value=@Model.patGP.MasterClinicianCode>@Model.patGP.TITLE @Model.patGP.FIRST_NAME @Model.patGP.LAST_NAME - GP</option>
                    }
                    @foreach (var item in Model.breastList)
                    {
                        <option value=@item.MasterClinicianCode>@item.TITLE @item.FIRST_NAME @item.LAST_NAME - @item.FACILITY</option>
                    }
                </select>
                <select id="ddlAllHospitals" hidden onchange=SetOtherClinician("all")>
                    <option value="">Select ...</option>
                    @if (Model.patGP != null)
                    {
                        <option value=@Model.patGP.MasterClinicianCode>@Model.patGP.TITLE @Model.patGP.FIRST_NAME @Model.patGP.LAST_NAME - GP</option>
                    }
                    @foreach (var item in Model.externalClinicians)
                    {
                        <option value=@item.MasterClinicianCode>@item.TITLE @item.FIRST_NAME @item.LAST_NAME - @item.FACILITY</option>
                    }
                </select>
                <input id="txtRecipient" name="otherClinician" hidden /> @*because we can't have multiple "name=" fields and just use the one that's not hidden! That would be too simple.*@
            </div>
        </div>



        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Leaflets:</label>
            </div>
            <div class="col-md-4">
                <select id="ddlLeaflets" class="w-100">
                    <option value="0" selected>Select...</option>
                    @foreach (var l in Model.leaflets)
                    {
                        <option value=@l.ID>@l.Code - @l.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-success" id="btnAddLeaflet">Add to Enclosures</button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-danger" id="btnClearLeaflets">Clear Enclosures</button>
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <button type="button" class="btn btn-default btn-outline-success" id="btnPreview">Preview</button>
            </div>        
            <div class="col-md-2">
                <button type="button" class="btn btn-default btn-outline-success" id="btnPrint">Print and Send</button>
            </div>
        </div>

    </form>

    
</div>

<script>

    document.getElementById("letterGroups").addEventListener("change", ShowLetterMenu);
    document.getElementById("docGroupStandard").addEventListener("change", SetDoccode);
    document.getElementById("docGroupMedRec").addEventListener("change", SetDoccode);
    document.getElementById("docGroupDNA").addEventListener("change", SetDoccode);
    document.getElementById("docGroupOutcome").addEventListener("change", SetDoccode);
    document.getElementById("docGroupReports").addEventListener("change", SetDoccode);
    document.getElementById("docGroupOther").addEventListener("change", SetDoccode);
    document.getElementById("btnPreview").addEventListener("click", DoPreview);
    document.getElementById("btnPrint").addEventListener("click", DoPrint);
    document.getElementById("ddlRefID").addEventListener("change", SetReferral);
    document.getElementById("btnAddLeaflet").addEventListener("click", AddLeaflet);
    document.getElementById("btnClearLeaflets").addEventListener("click", ClearLeaflets);
    window.addEventListener("load", ShowLetterMenu);
    
    function ShowLetterMenu()
    {
        
        var groupMenu = document.getElementById("letterGroups");
        var standardLetters = document.getElementById("docGroupStandard");
        var medrecLetters = document.getElementById("docGroupMedRec");
        var dnaLetters = document.getElementById("docGroupDNA");
        var outcomeLetters = document.getElementById("docGroupOutcome");
        var reports = document.getElementById("docGroupReports");
        var otherLetters = document.getElementById("docGroupOther");
                

        standardLetters.value = "";
        standardLetters.hidden = true;
        medrecLetters.value = "";
        medrecLetters.hidden = true;
        dnaLetters.value = "";
        dnaLetters.hidden = true;
        outcomeLetters.value = "";
        outcomeLetters.hidden = true;
        reports.value = "";
        reports.hidden = true;
        otherLetters.value = "";
        otherLetters.hidden = true;

        
        if (groupMenu.value == "Standard")
        {
            standardLetters.hidden = false;            
        }

        if (groupMenu.value == "MEDREC")
        {
            
            medrecLetters.hidden = false;
        }

        if (groupMenu.value == "DNATS")
        {            
            dnaLetters.hidden = false;
        }

        if (groupMenu.value == "Outcome")
        {
            outcomeLetters.hidden = false;
        }
        if (groupMenu.value == "Reports")
        {
            reports.hidden = false;
        }
        if (groupMenu.value == "Other")
        {
            otherLetters.hidden = false;
        }
        
        //const choices = new Choices('#ddlExtClinician');

        // when you want to hide:
        //document.querySelector('#ddlExtClinician').closest('.choices').style.display = 'none';
        if(document.getElementById("txtRefID").value == null || document.getElementById("txtRefID").value == "")
        {
            document.getElementById("txtRefID").value = document.getElementById("ddlRefID").value;
            SetReferral();
            document.getElementById("divReferral").hidden = false;
        }
    }

    function SetDoccode()
    {
        var docID = ""
        var docCode = "";
        var docGroup = "";

        var standardLetters = document.getElementById("docGroupStandard");
        var medrecLetters = document.getElementById("docGroupMedRec");
        var dnaLetters = document.getElementById("docGroupDNA");
        var outcomeLetters = document.getElementById("docGroupOutcome");
        var reports = document.getElementById("docGroupReports");
        var otherLetters = document.getElementById("docGroupOther");

        //var clinList = document.getElementById("ddlExtClinician");
        var screeningCoordinator = document.getElementById("ddlScreeningCoordinator");
        var geneticsCentre = document.getElementById("ddlGeneticsCentre");
        var histoList = document.getElementById("ddlHistoList");
        var breastList = document.getElementById("ddlBreastList");
        var allHospitalList = document.getElementById("ddlAllHospitals");

        var docCodeArray = [];
        var recipArray = [];
        var recip = "";

        //var clinCodeArray = [];
        //var clinNameArray = [];
        //var clinDeptArray = [];

        //initially hide all of them (the right one will be un-hidden later)
        screeningCoordinator.hidden = true;
        geneticsCentre.hidden = true;
        histoList.hidden = true;
        breastList.hidden = true;
        allHospitalList.hidden = true;

        if(!standardLetters.hidden) //because we absolutely CAN FUCKING NOT simply pass the parameter to a function this way, because that would be far too fucking simple!!!!!
        {
            docCode = standardLetters.value;
        }

        if(!medrecLetters.hidden)
        {
            docCode = medrecLetters.value;
        }

        if(!dnaLetters.hidden)
        {
            docCode = dnaLetters.value;
        }

        if(!outcomeLetters.hidden)
        {
            docCode = outcomeLetters.value;
        }

        if(!reports.hidden)
        {            
            docCode = reports.value;
        }

        if(!otherLetters.hidden)
        {
            docCode = otherLetters.value;
        }

        document.getElementById("txtDocCode").value = docCode;

        @foreach (var item in Model.docContentList)
        {
            @:docCodeArray.push("@item.DocCode");
            @:recipArray.push("@item.LetterTo");
        }

        for(var i = 0; i < docCodeArray.length; i++)
        {
            if(docCodeArray[i] == docCode)
            {
                recip = recipArray[i];
            }
        }      

        if(docCode == "O4" || docCode == "O4am" || docCode == "VHRProC") //because the "LetterTo" is "RD" - but that's "referrer" in every other letter! So... what the actual fuck, CGU_DB??
        {
            //document.querySelector('#ddlExtClinician').closest('.choices').style.display = '';
            document.getElementById("divExtClinician").hidden = false;      
            screeningCoordinator.hidden = false;
        }
        else
        {
        
            switch(recip)
            {
                case "Other":
                    document.getElementById("divExtClinician").hidden = false;
                    if(docCode == "PC01" || docCode == "OOR1")
                    {                    
                        geneticsCentre.hidden = false;
                    }
                    else
                    {
                        allHospitalList.hidden = false;
                    }
                    break;
                case "Histo":
                    document.getElementById("divExtClinician").hidden = false;
                    histoList.hidden = false;
                    break;
                default:
                    document.getElementById("divExtClinician").hidden = true;
            }
        }
        /*
        if(recip == "Other")
        {
            if(docCode == "PC01")
            {
                document.getElementById("divExtClinician").hidden = false;
                geneticsCentre.hidden = false;
            }
        }
        */
    }

    function DoPreview()
    {
        if(document.getElementById("txtDocCode").value == "")
        {
            window.alert("No document selected");
            return;
        }

        document.getElementById("txtIsPreview").value = "true";
        
        //document.getElementById("frmDoLetter").submit();
        var _refID = document.getElementById("txtRefID").value;
        var _referrerCode = document.getElementById("txtReferrerCode").value;
        var _docCode = document.getElementById("txtDocCode").value;
        var _docID = "" //something so simple as "open in a new window" has to be so fucking complicated!!!!!

        var docCodeArray = [];
        var docIDArray = []; //believe it or not, we have to do all this just to get the doc ID!!!

        @foreach (var item in Model.docContentList)
        {
            @:docCodeArray.push("@item.DocCode");
            @:docIDArray.push("@item.DocContentID");
        }

        for (var j = 0; j < docCodeArray.length; j++)
        {
            if(docCodeArray[j] == _docCode)
            {
                _docID = docIDArray[j];
            }
        }

        var _url = "";

        if(_docCode == "REPSUM")
        {
            var _icpid=0;
            var refIDArray = [];
            var icpArray = [];
            //and of course we need all this bullshit to get the ICPID
            @foreach (var item in Model.icpCancerList)
            {
                @:refIDArray.push("@item.RefID");
            }

            @foreach (var item in Model.icpCancerList)
            {
                @:icpArray.push("@item.ICP_Cancer_ID");
            }

            for(var i = 0; i < refIDArray.length; i++)
            {
                if(refIDArray[i] == document.getElementById("txtRefID").value)
                {
                    _icpid = icpArray[i];
                }
            }

            if(_icpid == 0)
            {
                window.alert("No ICP record found for this referral. Please make sure you have selected a cancer referral.");
                return;
            }
            else
            {
                _url = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/Repsum/PrepareRepsum?id=" + _icpid + "&isPreview=true";
            }
        }
        else
        {
            _url = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/LetterPreview/DoLetter?docID=" + _docID + "&mpi=" + "@Model.patient.MPI" +  "&refID=" + _refID
            + "&user=mnln&referrerCode=" + _referrerCode + "&isPreview=true&recipient=" + document.getElementById("txtRecipient").value + "&freeText=" + document.getElementById("txtFreeText").value + 
            "&enclosures=" + document.getElementById("txtEnclosures").value;
        }
        window.open(_url, '_blank').focus();
    }

    function DoPrint()
    {
        if(document.getElementById("txtDocCode").value == "")
        {
            window.alert("No document selected");
            return;
        }

        document.getElementById("txtIsPreview").value = "false";

        document.getElementById("frmDoLetter").submit();
    }

    function SetReferral()
    {
        document.getElementById("txtRefID").value = document.getElementById("ddlRefID").value;


        var refArray = [];
        var refCodeArray = [];

        @foreach (var item in Model.referralList)
        {
            @:refArray.push("@item.refid");
            @:refCodeArray.push("@item.ReferrerCode");
        }

        for(var i = 0; i < refArray.length; i++)
        {
            if(refArray[i] == document.getElementById("txtRefID").value)
            {
                document.getElementById("txtReferrerCode").value = refCodeArray[i];
            }
        }
    }

    function SetOtherClinician(otherClinician) //because obviously we can't just use the list that's not hidden!
    {        
        var clin = document.getElementById("txtRecipient");
        var screeningCoordinator = document.getElementById("ddlScreeningCoordinator");
        var geneticsCentre = document.getElementById("ddlGeneticsCentre");
        var histoList = document.getElementById("ddlHistoList");
        var breastList = document.getElementById("ddlBreastList");
        var allHospitalList = document.getElementById("ddlAllHospitals");

        switch(otherClinician)
        {
            case "screening":
                clin.value = screeningCoordinator.value;
                break;
            case "genetics":
                clin.value = geneticsCentre.value;
                break;
            case "histo":
                clin.value = histoList.value;
                break;
            case "breast":
                clin.value = breastList.value;
                break;
            default:
                clin.value = allHospitalList.value;
        }

    }

    function AddLeaflet()
    {
        var _encs = document.getElementById("txtEnclosures");
        var _leaflets = document.getElementById("ddlLeaflets");

        var idArray = [];
        var codeArray = [];
        var nameArray = [];

        @foreach (var item in Model.leaflets) //yes, this is the ONLY way to get C# data into javascript without doing a post!
        {
            @:idArray.push("@item.ID");
            @:codeArray.push("@item.Code");
            @:nameArray.push("@item.Name");
        }

        for(var i = 0; i < idArray.length; i++)
        {
            if(idArray[i] == _leaflets.value)
            {
                if(_encs.value != "")
                {
                    _encs.value = _encs.value + ",\n";
                }

                _encs.value = _encs.value + codeArray[i] + " - " + nameArray[i];
            }
        }
    }

    function ClearLeaflets()
    {
        document.getElementById("txtEnclosures").value = "";
    }

</script>
