@model ClinicX.ViewModels.ClinicalNoteVM

@{
    ViewData["Title"] = "Clinic-X - Choose Appointment";
    ViewData["Page"] = "/ Clinical Note / Activity List";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id=Model.patient.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Clinical Notes Index", "Index", "ClinicalNote", new { id = Model.patient.MPI }, new { @class = "btn btn-success m-1" }),
    };
}

<div class="container card">
    
    <div class ="row g-5 mb-5">
        <h2>Choose activity to create new clinical note for @Model.patient.FIRSTNAME @Model.patient.LASTNAME, <a asp-controller="Patient" asp-action="PatientDetails" asp-route-id=@Model.patient.MPI>@Model.patient.CGU_No</a></h2>
    </div>
    
    <div class="d-grid">
        <h3>Appointments</h3>
        <table class="table">
            <thead>
                <tr>
                    <th></th>                
                    <th>Clinic</th>
                    <th>@Html.DisplayNameFor(model => model.Clinic.BOOKED_DATE)</th>
                    <th>@Html.DisplayNameFor(model => model.Clinic.BOOKED_TIME)</th>                
                </tr>
            </thead>
            <tbody>           
                @foreach (var item in Model.Clinics)
                {                   
                    <tr>
                        <td><a asp-controller="ClinicalNote" asp-action="Create" asp-route-id=@item.RefID>Select</a></td>                            
                        <td>@item.Clinic</td>
                        <td>@item.BOOKED_DATE.Value.ToString("dd/MM/yyyy")</td>
                        <td>@item.BOOKED_TIME.Value.ToString("hh:mm")</td>
                    </tr>                   
                }          
            </tbody>
        </table>
        <h3>Referrals</h3>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Type</th>
                    <th>Referral Date</th>
                    <th>Referred By</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Referrals)
                {
                    <tr>
                        <td><a asp-controller="ClinicalNote" asp-action="Create" asp-route-id=@item.refid>Select</a></td>
                        <td>@item.RefType</td>
                        <td>@item.RefDate.Value.ToString("dd/MM/yyyy")</td>
                        <td>@item.ReferringClinician - @item.ReferringFacility</td>                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>