@model ClinicX.ViewModels.ClinicalNoteVM

@{
    ViewData["Title"] = "Clinic-X - Clinical Notes";
    ViewData["Page"] = "/ Clinical Note / Index";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id = Model.patient.MPI }, new { @class = "btn btn-success m-1" }),        
        Html.ActionLink("Clinics Index", "Index", "Clinic", new {  }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Create New", "ChooseAppt", "ClinicalNote", new { id = Model.patient.MPI}, new { @class = "btn btn-success m-1" })
    };
}



<div class="container card">

    <hr />


    @if(Model.noteCount > 0)
    {
        <h1>Clinical Notes for @Model.patient.FIRSTNAME @Model.patient.LASTNAME, <a asp-controller="Patient" asp-action="PatientDetails" asp-route-id=@Model.patient.MPI>@Model.patient.CGU_No</a></h1>
    }
    else
    {
        <h1>There are no clinical notes for this patient.</h1>    
    }
    <div class="d-grid">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Note Type</th>
                    <th>RefID</th>
                    <th>@Html.DisplayNameFor(model => model.clinicalNote.CreatedDate)</th>
                    <th>@Html.DisplayNameFor(model => model.clinicalNote.CreatedTime)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.clinicalNotesList)
                {   
                    <tr>
                        <td><a asp-controller="ClinicalNote" asp-action="Edit" asp-route-id=@item.ClinicalNoteID class="btn btn-success">Select</a></td>
                        <td>@item.NoteType</td>
                        <td>@item.RefID</td>
                        @if(item.CreatedDate != null)
                        {
                            <td><span hidden>@item.CreatedDate.Value.ToString("yyyyMMdd")</span>@item.CreatedDate.Value.ToString("dd/MM/yyyy")</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if(item.CreatedTime != null)
                        {
                            <td>@item.CreatedTime.Value.ToString("HH:mm")</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>               
                }
            </tbody>
        </table>      
    </div>
</div>

<script>

    window.addEventListener("load", LoadTable)
    function LoadTable()
    {

        let table = new DataTable('#myTable',
        {
            "order": [] //disable initial sorting and allow the data sorting in the back-end
        });       
    }

</script>