@model ClinicX.ViewModels.ClinicalNoteVM

@{
    ViewData["Title"] = "Clinic-X - Clinical Notes";
}

<div class="container">
    <div class="row mb-5 g-5">
        <div class="col-md-2">
            <a type="button" class="btn btn-default btn-success" asp-controller="Patient" asp-action="PatientDetails" asp-route-id=@Model.patient.MPI>Back to Patient Details</a>
        </div>
        <div class="col-md-2">
            <a type="button" class="btn btn-default btn-success" asp-controller="Clinic" asp-action="Index">Back to Clinics Index</a>
        </div>
        <div class="col-md-2">           
            <a type="button" class="btn btn-default btn-success" asp-controller="ClinicalNote" asp-action="ChooseAppt" asp-route-id=@Model.patient.MPI>Create New</a>
        </div>
        <div class="col-md-8"></div>
    </div>


    @if(Model.noteCount > 0)
    {
        <h1>Clinical Notes for <a asp-controller="Patient" asp-action="PatientDetails" asp-route-id=@Model.patient.MPI>@Model.patient.FIRSTNAME @Model.patient.LASTNAME</a></h1>
    }
    else
    {
        <h1>There are no clinical notes for this patient.</h1>    
    }
    <div class="row g-5 mb-5">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Note Type</th>
                    <th>RefID</th>
                    <th>@Html.DisplayNameFor(model => model.clinicalNote.CreatedDate)</th>
                    <th>@Html.DisplayNameFor(model => model.clinicalNote.CreatedTime)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.clinicalNotesList)
                {   
                    <tr>
                        <td><a asp-controller="ClinicalNote" asp-action="Edit" asp-route-id=@item.ClinicalNoteID class="btn btn-success">Select</a></td>
                        <td>@item.NoteType</td>
                        <td>@item.RefID</td>
                        <td>@item.CreatedDate.Value.ToString("dd/MM/yyyy")</td>
                        <td>@item.CreatedTime.Value.ToString("HH:mm")</td>
                    </tr>               
                }
            </tbody>
        </table>      
    </div>
</div>