@model IEnumerable<ClinicX.Models.Clinics>

@{
    ViewData["Title"] = "Clinic-X - Clinics";
}

@*<div>
    <input type="button" value="Back" id="btnBack" class="btn btn-default btn-success" />
</div>*@

<div class="row g-5 mb-5">
    @*<h1 class="text-center">Welcome @Html.DisplayFor(model => model.FirstOrDefault().Clinician)!</h1>*@

    @if (Model.Count(x => x.BOOKED_DATE.Value.ToString("dd/MM/yyyy") == System.DateTime.Now.ToString("dd/MM/yyyy")) == 0)
    {
        <h2 class="text-center">You have no clinics scheduled today.</h2>
    }
    else
    {
        <div class="row g-5 mb-5">
            <h2 class="text-center">In clinic today:</h2>       
        
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>CGU No</th>
                        <th>Patient</th>
                        <th>Clinic</th>
                        <th>@Html.DisplayNameFor(model => model.BOOKED_DATE)</th>
                        <th>@Html.DisplayNameFor(model => model.BOOKED_TIME)</th>
                        <th>Outcome</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.BOOKED_DATE.Value.ToString("dd/MM/yyyy") == System.DateTime.Now.ToString("dd/MM/yyyy"))
                        {                
                            <tr>
                                <td><a asp-controller="Clinic" asp-action="ApptDetails" asp-route-id=@item.RefID>Select</a></td>
                                <td>@item.CGU_No</td>
                                <td>@item.FIRSTNAME @item.LASTNAME</td>
                                <td>@item.Clinic</td>
                                <td>@item.BOOKED_DATE.Value.ToString("dd/MM/yyyy")</td>
                                <td>@item.BOOKED_TIME.Value.ToString("HH:mm")</td>
                                <td>@item.Attendance</td>
                            </tr>
                        }            
                    }
                </tbody>
            </table>
        </div>
    }
</div>

<div class="row g-5 mb-5">
    <hr />
</div>


<div class="row g-5 mb-5">
    <form id="frmPastClinics">
        <div class="row g-5 mb-3">
            <div class="col-2">
                <label class="form-label" for="ddlPastClinics">Select Past Clinics:</label>
            </div>
            <div class="col-8">
                <select class="form-select" name="ddlPastClinics" id="ddlPastClinics">
                    @foreach (var item in Model)
                    {
                        if(item.BOOKED_DATE <= System.DateTime.Now.AddDays(-1))
                        {
                            <option value="@item.RefID">@item.CGU_No - @item.FIRSTNAME @item.LASTNAME, @item.Clinic, @item.BOOKED_DATE.Value.ToString("dd/MM/yyyy") - @item.BOOKED_TIME.Value.ToString("HH:mm") - @item.Attendance</option>
                        }
                    }
                </select>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row g-5 mb-3">
            <div class="col-2"></div>
            <div class="col-2">
                <input type="button" value="Select" id="btnSelectPastClinic" class="btn btn-default btn-success"  />
            </div>
            <div class="col-8"></div>
        </div>
    </form>    
</div>

<script type="text/javascript">
    //document.getElementById("btnBack").addEventListener("click", GoBack);
    document.getElementById("btnSelectPastClinic").addEventListener("click", OpenClinic);
    
    function GoBack() 
    {
        window.history.back();
        //window.close();
    }

    function OpenClinic() 
    {
        let _Clinic = document.getElementById('ddlPastClinics')

        if (_Clinic.value == "" || _Clinic.value == null) {
            alert("You must choose a clinic.");
        }
        else 
        {
            let _url = ""
            _url = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/Clinic/ApptDetails?id=" + _Clinic.value;
            location.href = _url;
            //window.open(_url);
        }
    }

</script>
