@model ClinicX.ViewModels.RiskSurveillanceVM

@{
    ViewData["Title"] = "ClinicX - New Risk Item";
    ViewData["Page"] = "/ Risk / Add new";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id=Model.icpCancer.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Back to Cancer ICP", "CancerReview", "Triage", new { id=Model.icpCancer.ICP_Cancer_ID }, new { @class = "btn btn-success m-1" }),
    };
}

<div class="container card">
    
    <div class="row mb-5 g-2">        
        <h1>New Risk Item for @Model.patient.FIRSTNAME @Model.patient.LASTNAME</h1>       
    </div>

    <form asp-action="AddNewRisk">
        <div class="row" hidden>
            <input name="refID" asp-for=@Model.refID  />
        </div>
        <div class="row mb-2 g-2">
            <div class="col-md-2">
                <label>Risk:</label>
            </div>
            <div class="col-md-2">
                <select class="w-100" name="riskCode">
                    <option value="">Select...</option>
                    @foreach(var item in Model.riskCodes)
                    {
                        <option value=@item.RiskCode>@item.Risk</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <label>Site:</label>
            </div>
            <div class="col-md-2">
                <select class="w-100" name="siteCode">
                    <option value="">Select...</option>
                    @foreach (var item in Model.survSiteCodes)
                    {
                        <option value=@item.SurvSiteCode>@item.SurvSite</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <label>Clinician:</label>
            </div>
            <div class="col-md-2">
                <select class="w-100" id="ddlClinician" name="clinCode" value=@Model.staffCode>
                    <option value="">Select...</option>
                    @foreach (var item in Model.staffMembersList)
                    {
                        <option value=@item.STAFF_CODE>@item.NAME</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mb-2 g-2">
            <div class="col-md-2">
                <label>Date:</label>
            </div>
            <div class="col-md-2">
                <input class="w-100" id="txtDate" type="date" name="riskDate" />
            </div>
            <div class="col-md-2">
                <label>Lifetime %:</label>
            </div>
            <div class="col-md-2">
                <input class="w-50" type="text" name="lifetimePercent" />
            </div>
            <div class="col-md-2">
                <label>Comments</label>
            </div>
            <div class="col-md-2">
                <input class="w-100" type="text" name="comments" />
            </div>
        </div>
        <div class="row mb-2 g-2">
            <div class="col-md-1">
                <label>25-29(%):</label>
            </div>
            <div class="col-md-1">
                <input class="w-50" type="text" name="f2529" />
            </div>
            <div class="col-md-1">
                <label>30-40(%):</label>
            </div>
            <div class="col-md-1">
                <input class="w-50" type="text" name="f3040" />
            </div>
            <div class="col-md-1">
                <label>40-50(%):</label>
            </div>
            <div class="col-md-1">
                <input class="w-50" type="text" name="f4050" />
            </div>
            <div class="col-md-1">
                <label>50-60(%):</label>
            </div>
            <div class="col-md-1">
                <input class="w-50" type="text" name="f5060" />
            </div>
            <div class="col-md-1">
                <label>Use Letter:</label>
            </div>
            <div class="col-md-1">
                <input type="checkbox" id="chkUseLetter" />
            </div>
            <div class="col-md-1">
                <input type="text" id="txtUseLetter" name="isUseLetter" hidden />
            </div>
        </div>
        <div class="row mb-2 g-2">
            <div class="col-md-4">
                <label>Calculation Tool Used:</label>
            </div>
            <div class="col-md-4">
                <select class="w-100" name="tool">
                    <option value="">Select...</option>
                    @foreach (var item in Model.calculationTools)
                    {
                        <option value=@item.CalculationToolCode>@item.CalculationToolCode</option>
                    }
                </select>
            </div>
        </div>

        <div class="row mb-2 g-2">
            <div class="col-md-2">
                <button type="submit" class="btn btn-default btn-outline-success">Save</button>
            </div>            
        </div>
    </form>

</div>


<script>

    document.getElementById("chkUseLetter").addEventListener("change", SetUseLetter);  
    window.addEventListener("load", LoadForm);

    function SetUseLetter()
    {
        document.getElementById("txtUseLetter").value = document.getElementById("chkUseLetter").checked;
    }
    
    function LoadForm()
    {
        const today = new Date().toISOString().split('T')[0];
        document.getElementById("txtDate").value = today;
        document.getElementById("ddlClinician").value = "@Model.staffCode";
    }


</script>