@model ClinicX.ViewModels.RiskSurveillanceVM

@{
    ViewData["Title"] = "ClinicX - New Surveillance Recommendation";
    ViewData["Page"] = "/ Surveillance / Add new";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id=Model.patient.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Back to Risk Details", "RiskDetails", "RiskAndSurveillance", new { id=Model.riskDetails.RiskID }, new { @class = "btn btn-success m-1" }),        
        Html.ActionLink("Back to Cancer ICP", "CancerReview", "Triage", new { id=Model.riskDetails.ICP_Cancer_ID }, new { @class = "btn btn-success m-1" }),
    };
}

<div class="container card">
    

    <div class="row mb-5 g-2">        
        <h1>New Surveillance Recommendation for @Model.patient.FIRSTNAME @Model.patient.LASTNAME</h1>       
    </div>

    <div class="row mb-5 g-2">
        <h3>Current age: @Model.patientAge</h3>
    </div>


    <form asp-action="AddNewSurveillance">
        <div class="row" hidden>
            <input name="riskID" asp-for=@Model.riskID  />
        </div>
        <div class="row mb-2 g-2">
            <div class="col-md-2">
                <label>Site:</label>
            </div>
            <div class="col-md-2">
                <select name="siteCode" class="w-100">
                    <option value="">Select...</option>
                    @foreach(var item in Model.survSiteCodes)
                    {
                        <option value=@item.SurvSiteCode>@item.SurvSite</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <label>Screening Type:</label>
            </div>
            <div class="col-md-2">
                <select name="typeCode" class="w-100">
                    <option value="">Select...</option>
                    @foreach (var item in Model.survTypeCodes)
                    {
                        <option value=@item.SurvTypeCode>@item.SurvType</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <label>Recommended By:</label>
            </div>
            <div class="col-md-2">
                <select name="clinCode" class="w-100">
                    <option value="">Select...</option>
                    @foreach (var item in Model.staffMembersList)
                    {
                        <option value=@item.STAFF_CODE>@item.NAME</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mb-2 g-2">
            <div class="col-md-2">
                <label>Recommended Date:</label>
            </div>
            <div class="col-md-2">
                <input type="date" class="w-100" name="recDate" />
            </div>
            <div class="col-md-1">
                <label>Start Age</label>
            </div>
            <div class="col-md-1">
                <input class="w-50" type="text" name="startAge" />
            </div>
            <div class="col-md-1">
                <label>End Age</label>
            </div>
            <div class="col-md-1">
                <input class="w-50" type="text" name="endAge" />
            </div>
            <div class="col-md-2">
                <label>Frequency:</label>
            </div>
            <div class="col-md-2">
                <select name="frequency" class="w-100">
                    <option value="">Select...</option>
                    @foreach (var item in Model.survFreqCodes)
                    {
                        <option value=@item.SurvFreqCode>@item.SurvFreq</option>
                    }
                </select>
            </div>

        </div>
        <div class="row mb-2 g-2">            
            <div class="col-md-1">
                <label>Use Letter:</label>
            </div>
            <div class="col-md-1">
                <input type="checkbox" class="form-check-input" id="chkUseLetter" />
            </div>
            <div class="col-md-1">
                <input type="text" id="txtUseLetter" name="isUseLetter" hidden />
            </div>
            <div class="col-md-1">
                <label>Discontinued?:</label>
            </div>
            <div class="col-md-1">
                <input type="checkbox" class="form-check-input" id="chkYN" />
            </div>
            <div class="col-md-1">
                <input type="text" id="txtYN" name="isYN" hidden />
            </div>        
            <div class="col-md-2">
                <label>Discontinued reason:</label>
            </div>
            <div class="col-md-4">
                <select class="w-100" name="discReason" id="ddlDiscReason" disabled>
                    <option value="">Select...</option>
                    @foreach (var item in Model.discontinuedReasonCodes)
                    {
                        <option value=@item.SurvDiscReasonCode>@item.SurvDiscReason</option>
                    }
                </select>
            </div>
        </div>

        <div class="row mb-2 g-2">
            <div class="col-md-2">
                <button type="submit" class="btn btn-default btn-outline-success">Save</button>
            </div>            
        </div>
    </form>

</div>


<script>

    document.getElementById("chkUseLetter").addEventListener("change", SetUseLetter);
    document.getElementById("chkYN").addEventListener("change", SetYN);
    document.getElementById("btnBack").addEventListener("click", GoBack);

    function GoBack() 
    {
        window.history.back();
        //window.close();
    }

    function SetUseLetter()
    {
        document.getElementById("txtUseLetter").value = document.getElementById("chkUseLetter").checked;
    }
    
    function SetYN() 
    {
        
        document.getElementById("txtYN").value = document.getElementById("chkYN").checked;        
        if (document.getElementById("chkYN").checked == true) 
        {
            document.getElementById("ddlDiscReason").disabled = false;
        }
        else 
        { 
            document.getElementById("ddlDiscReason").disabled = true;
        }
    }

</script>