@model ClinicX.ViewModels.RiskSurveillanceVM

@{
    ViewData["Title"] = "ClinicX - Risk Details";
    ViewData["Page"] = "/ Risk / Risk Details";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id=Model.riskDetails.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Back to Cancer ICP", "CancerReview", "Triage", new { id=Model.riskDetails.ICP_Cancer_ID }, new { @class = "btn btn-success m-1" }),
    };
}

<div class="container card">
    <div class="row mb-5 g-2 mt-2">
        @*<div class="col-md-2">

            <a class="btn btn-default btn-success" asp-controller="Triage" asp-action="CancerReview" asp-route-id=@Model.riskDetails.ICP_Cancer_ID>Back to Cancer ICP</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default btn-success" asp-controller="Patient" asp-action="PatientDetails" asp-route-id=@Html.ValueFor(model => model.riskDetails.MPI)>Patient Details</a>
        </div>*@
    </div>
    <hr />

    <div class="row mb-5 g-5">
        <h1>Risk and Surveillance Details for @Html.DisplayFor(model => model.riskDetails.FIRSTNAME) @Html.DisplayFor(model => model.riskDetails.LASTNAME)</h1>
    </div>

    <div class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.riskDetails.CGU_No)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.riskDetails.CGU_No)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.riskDetails.RiskDate)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.riskDetails.RiskDate)
        </dd>
        <dt class="col-md-2">
            Risk:
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.riskDetails.RiskCode)
        </dd>
        <dt class="col-md-2">
            Site:
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.riskDetails.SurvSiteCode)
        </dd>
    </div>

    <div class="d-grid greybg">
        <div class="row">
            <dt class="col-md-12 text-center">
                <span class="text-center">Risk percentage details:</span>
            </dt>
            <dt class="col-md-4 text-center">
                Lifetime:
            </dt>
            <dt class="col-md-2 text-center">
                25-29
            </dt>
            <dt class="col-md-2 text-center">
                30-40
            </dt>
            <dt class="col-md-2 text-center">
                40-50
            </dt>
            <dt class="col-md-2 text-center">
                50-60
            </dt>
            <dd class="col-md-4 text-center">
                @Html.DisplayFor(model => model.riskDetails.LifetimeRiskPercentage)
            </dd>
            <dd class="col-md-2 text-center">
                @Html.DisplayFor(model => model.riskDetails.R25_29)
            </dd>
            <dd class="col-md-2 text-center">
                @Html.DisplayFor(model => model.riskDetails.R30_40)
            </dd>
            <dd class="col-md-2 text-center">
                @Html.DisplayFor(model => model.riskDetails.R40_50)
            </dd>
            <dd class="col-md-2 text-center">
                @Html.DisplayFor(model => model.riskDetails.R50_60)
            </dd>
        </div>
    </div>

    <br />

    <div class="row">
        <dt class="col-md-2">
            Calculation Tool Used:
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.riskDetails.CalculationToolUsed)
        </dd>
        <dt class="col-md-2">
            Comments:
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.riskDetails.RiskComments)
        </dd>
        <dt class="col-md-2">
            Recorded By:
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.riskDetails.Clinician)
        </dd>
    </div>

    <br />

    <div class="row mb-5 g-5">
        <h2>Surveillance Recommended</h2>
    </div>

    <div class="row mb-5 g-5">
        <div class="d-grid">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Gene Change</th>
                        <th>Frequency</th>
                        <th>Start Age</th>
                        <th>End Age</th>
                        <th>Recommended By</th>
                        <th>Site</th>
                        <th>Hospital</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.surveillanceList)
                    {
                        <tr>
                            <td><a class="btn btn-success" asp-controller="RiskAndSurveillance" asp-action="SurvDetails" asp-route-id=@item.SurvRecID>Select</a></td>
                            <td>@item.GeneChangeDescription</td>
                            <td>@item.SurvFreqCode</td>
                            <td>@item.SurvStartAge</td>
                            <td>@item.SurvStopAge</td>
                            <td>@item.Clinician</td>
                            <td>@item.SurvSiteCode</td>
                            <td>@item.SurvRecHoCode</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mb-5 g-5">
        <div class="col-md-2">
            <a class="btn btn-success" asp-controller="RiskAndSurveillance" asp-action="AddNewSurveillance" asp-route-id=@Model.riskDetails.RiskID>Add New</a>
        </div>
    </div>
</div>

<script>
    document.getElementById("btnBack").addEventListener("click", GoBack);

        function GoBack()
        {
            window.history.back();
            //window.close();
        }
</script>