@model ClinicX.ViewModels.PatientSearchVM
@{
    ViewData["Title"] = "ClinicX - My Patients";
    ViewData["Page"] = "/ Clinic / My Patients";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Back to Patient Search", "Index", "PatientSearch", new { }, new { @class = "btn btn-success m-1" }),
    };
}

<div class="container">
    @if(Model.patientsList.Count > 0)
    {
        <h1>All patients with referrals you have been involved with</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>CGU Number</th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>NHS Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.patientsList)
                {
                    <tr>
                        <td><a asp-controller="Patient" asp-action="PatientDetails" asp-route-id=@item.MPI type="button" class="btn btn-success">@item.CGU_No</a></td>
                        <td>@item.Title @item.FIRSTNAME @item.LASTNAME</td>
                        @if (@item.DOB.HasValue)
                        {
                            <td>@item.DOB.Value.ToString("dd/MM/yyyy")</td>
                        }
                        <td>@item.SOCIAL_SECURITY</td>
                    </tr>
                }
            </tbody>
        </table>     
    }
</div>