@model ClinicX.ViewModels.CaseloadVM

@{
    ViewData["Title"] = "ClinicX - Caseload Distribution";
    ViewData["Page"] = "/ Other Caseload / Caseload Distribution";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Back To Caseload Overview", "Index", "OtherCaseload", new {  }, new { @class = "btn btn-success m-1" }),
    };
}

<div class="container card">    
    <div class="card-body">
    <div class="row mb-2 g-2">
            <h1>Active Referral Distribution @if(Model.regionCodeSelected != null){ <span> - @Model.regionNameSelected</span> }</h1>
    </div>

    <form asp-action="CaseloadDistribution">
        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Year of Referral:</label>
            </div>
            <div class="col-md-1">
                <select name="year" asp-for=@Model.yearSelected>
                    <option selected value="">All</option>
                    @foreach(var item in Model.years)
                    {
                        <option value=@item>@item</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <label>Pathway:</label>
            </div>
            <div class="col-md-1">
                <select name="pathway" asp-for=@Model.pathwaySelected>
                    <option selected value="">All</option>
                    @foreach (var item in Model.pathways)
                    {
                        <option value=@item.CGU_Pathway>@item.CGU_Pathway</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <label>Region:</label>
            </div>
            <div class="col-md-1">
                <select name="region" asp-for=@Model.regionCodeSelected>
                    <option selected value="">All</option>
                    @foreach (var item in Model.geographicalRegions)
                    {
                        <option value=@item.Key>@item.Value</option>
                    }
                </select>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-success">Select</button>
            </div>
        </div>
    </form>
    </div>


    <div class="d-grid">
        <div class="row mb-5 g-5">
            <h2 class="text-center">Referrals by Consultant</h2>
        </div>
        <canvas id="consReferrals" width="100" height="100"></canvas>
    </div>

    <div class="d-grid">
        <div class="row mb-5 g-5">
            <h2 class="text-center">Referrals by GC</h2>
        </div>
        <canvas id="gcReferrals" width="100" height="100"></canvas>
    </div>

    <div class="d-grid">
        <div class="row mb-5 g-5">
            <h2 class="text-center">Referrals by Area</h2>
        </div>
        <canvas id="areaReferrals" width="200" height="200"></canvas>
    </div>
</div>


<script>
    const barColorsGeneral ="blue";        
    const barColorsCancer ="red";
    const barColorsTotal ="purple";
    
    const consChartLabels = [];
    const consChartValuesGeneral = [];
    const consChartValuesCancer = [];
    const consChartValues = [];

    @foreach(var item in Model.TotalConsReferralCount.Keys)
    {
        @:consChartLabels.push("@item".replace("&#x27;", "'"));        
    }

    @foreach (var item in Model.TotalConsReferralCount.Values)
    {
        @:consChartValues.push("@item");
    }

    @foreach (var item in Model.TotalConsReferralCountGeneral.Values)
    {
        @:consChartValuesGeneral.push("@item");
    }
    
    @foreach (var item in Model.TotalConsReferralCountCancer.Values)
    {
        @:consChartValuesCancer.push("@item");
    }

    const gcChartLabels = [];
    const gcChartValues = [];
    const gcChartValuesGeneral = [];
    const gcChartValuesCancer = [];

    @foreach (var item in Model.TotalGCReferralCount.Keys)
    {
        @:gcChartLabels.push("@item".replace("&#x27;", "'"));
    }
    
    
    @foreach (var item in Model.TotalGCReferralCount.Values)
    {
        @:gcChartValues.push("@item");
    }

    @foreach (var item in Model.TotalGCReferralCountGeneral.Values)
    {
        @:gcChartValuesGeneral.push("@item");
    }

    @foreach (var item in Model.TotalGCReferralCountCancer.Values)
    {
        @:gcChartValuesCancer.push("@item");
    }

    const areaChartLabels = [];
    @foreach (var item in Model.TotalAreaReferralCount.Keys)
    {
        @:areaChartLabels.push("@item");
    }
    const areaChartValues = [];
    @foreach (var item in Model.TotalAreaReferralCount.Values)
    {
        @:areaChartValues.push("@item");
    }
    
    
    const consReferrals = new Chart("consReferrals",
    {
        type: "horizontalBar",
        data: 
        {
            labels: consChartLabels,            
            datasets:[
                { label: "General", backgroundColor: barColorsGeneral, data: consChartValuesGeneral}, 
                { label: "Cancer", backgroundColor: barColorsCancer, data: consChartValuesCancer},
                { label: "Total", backgroundColor: barColorsTotal, data: consChartValues}
            ]
        },
        options: 
        {                
            legend: { display: true },                
            responsive: true
        }
    });

    const gcReferrals = new Chart("gcReferrals",
    {
        type: "horizontalBar",
        data:
        {
            labels: gcChartLabels,
            datasets:[
                { label: "General", backgroundColor: barColorsGeneral, data: gcChartValuesGeneral },
                { label: "Cancer", backgroundColor: barColorsCancer, data: gcChartValuesCancer },
                { label: "Total", backgroundColor: barColorsTotal, data: gcChartValues }
            ]
        },
        options:
        {                    
            legend: { display: true },
            responsive: true
        }
    });

    const areaReferrals = new Chart("areaReferrals",
    {
        type: "horizontalBar",
        data:
        {
            labels: areaChartLabels,
            datasets:[{ backgroundColor: barColorsTotal, data: areaChartValues }]
        },
        options:
        {            
            legend: { display: false },
            responsive: true
        }
    });
            

</script>