@model ClinicX.ViewModels.ICPVM

@{
    ViewData["Title"] = "Clinic-X - Cancer ICP Review Details";
}
<div class="container">
    <div class="row mb-5 g-5">
        <div class="col-md-2">
            @*<input type="button" value="Back" id="btnBack" class="btn btn-default btn-success" />*@
            <a type="button" class="btn btn-default btn-success" asp-controller="Triage" asp-action="Index">Back to Triage Index</a>
        </div>
        <div class="col-md-1">
            <a class="btn btn-default btn-success" asp-controller="Patient" asp-action="PatientDetails" asp-route-id=@Model.icpCancer.MPI)>Patient Details</a>
        </div>
    </div>

    <div class="row mb-5 g-5">
        <h1>Cancer ICP Review for @Model.icpCancer.FIRSTNAME @Model.icpCancer.LASTNAME</h1>
    </div>

    <div class="row mb-5 g-5">
        <button type="button" class="btn btn-default btn-success" data-bs-toggle="collapse" data-bs-target="#collapseRiskItems" aria-expanded="false" aria-controls="collapseExample">Risk, Surveillance, and Testing (click to expand/hide)</button>
    </div>

    <div class="collapse" id="collapseRiskItems">
        @if (Model.riskList.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td>Risk</td>
                        <td>Site</td>
                        <td>Clinician</td>
                        <td>Date</td>
                        <td>Lifetime</td>
                        <td>25-29 (%)</td>
                        <td>30-40 (%)</td>
                        <td>40-50 (%)</td>
                        <td>50-60 (%)</td>                   
                        <td>Surveillance Recommendations</td>
                    </tr>
                </thead>
                <tbody>            
                    @foreach (var item in Model.riskList)
                    {
                        <tr>
                            <td><a asp-controller="RiskAndSurveillance" asp-action="RiskDetails" asp-route-id=@item.RiskID>Select</a></td>
                            <td>@item.RiskCode</td>
                            <td>@item.SurvSiteCode</td>
                            <td>@item.Clinician</td>
                            <td>@item.RiskDate.Value.ToString("dd/MM/yyyy")</td>
                            <td>@item.LifetimeRiskPercentage</td>
                            <td>@item.R25_29</td>
                            <td>@item.R30_40</td>
                            <td>@item.R30_40</td>
                            <td>@item.R50_60</td>                                                                 
                            <td>
                                @if(Model.surveillanceList != null)
                                {
                                    @foreach(var surv in Model.surveillanceList)
                                    {
                                        @if (surv.RiskID == item.RiskID)
                                        {
                                            <span>@surv.SurvFreqCode - age @surv.SurvStartAge to @surv.SurvStopAge</span><br />
                                        }
                                    }
                                }
                            </td>
                        </tr>
                    }            
                </tbody>
            </table>
        }
        else
        {
            <h2>There are no risk items added</h2>
        }

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                @*<input type="button" value="Back" id="btnBack" class="btn btn-default btn-success" />*@
                <a type="button" class="btn btn-default btn-success" asp-controller="RiskAndSurveillance" asp-action="AddNewRisk" asp-route-id=@Model.icpCancer.ICPID>Add New</a>
            </div>
        </div>


        @if (Model.eligibilityList.Count() > 0)
        {
            <h2>Testing Eligibility</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Calculation Tool</th>
                        <th>Gene</th>
                        <th>Score</th>
                        <th>Offer Testing?</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.eligibilityList)
                    {
                        <tr>
                            <td><a asp-controller="WIP" asp-action="Index">@item.ID</a></td>
                            <td>@item.CalcTool</td>
                            <td>@item.Gene</td>
                            <td>@item.Score</td>
                            <td>@item.OfferTesting</td>
                        </tr>
                    }
                </tbody>
            </table>
        } 
    </div>

    <form id="CancerReviewForm" asp-action="CancerReview">
    
        <div class="row mb-5 g-5" hidden="true">
            <input asp-for=@Model.icpCancer.ICP_Cancer_ID name="id" />
        </div>

        @*<div class="row mb-5 g-5">
            <button type="button" class="btn btn-default btn-success" data-bs-toggle="collapse" data-bs-target="#collapsePreClinicStatus" aria-expanded="false" aria-controls="collapseExample">Pre-Clinic Status (click to expand/hide)</button>
        </div>

        
        <div class="collapse" id="collapsePreClinicStatus">
            <div class="row mb-5 g-5">
                <h2>Pre-Clinic Status</h2>
            </div>

            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <label style="text-align:right">Family History Form Review:</label>
                </div>
                <div class="col-md-1">
                    <input type="checkbox" class="form-check-input" asp-for=@Model.icpCancer.FHFRev />
                </div>
                <div class="col-md-2">
                    <label style="text-align:right">Pedigree Review:</label>
                </div>
                <div class="col-md-1">
                    <input type="checkbox" class="form-check-input" asp-for=@Model.icpCancer.PedRev />
                </div>
                <div class="col-md-2">
                    <label style="text-align:right">Confirmation Review:</label>
                </div>
                <div class="col-md-1">
                    <input type="checkbox" class="form-check-input" asp-for=@Model.icpCancer.ConfRev />
                </div>
                <div class="col-md-2">
                    <label style="text-align:right">Pathology Review:</label>
                </div>
                <div class="col-md-1">
                    <input type="checkbox" class="form-check-input" asp-for=@Model.icpCancer.PathRepRev />
                </div>
            </div>
        </div>*@

        <div class="row mb-5 g-5">
            <button type="button" class="btn btn-default btn-success" data-bs-toggle="collapse" data-bs-target="#collapseSeeInClinic" aria-expanded="false" aria-controls="collapseExample">See in Clinic (click to expand/hide)</button>
        </div>

        <div class="collapse" id="collapseSeeInClinic">
            <div class="row mb-5 g-5">
                <h2>See in Clinic</h2>
            </div>

            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <label style="text-align:right">Clinician:</label>
                </div>
                <div class="col-md-4">
                    <select id="ddlClinician" asp-for=@Model.icpCancer.WaitingListClinician name="clinician">
                        <option value="">Select...</option>
                        @foreach (var item in Model.staffMembers)
                        {
                            <option value=@item.STAFF_CODE>@item.NAME</option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label style="text-align:right">Clinic:</label>
                </div>
                <div class="col-md-4">
                    <select id="ddlClinic" asp-for=@Model.icpCancer.WaitingListVenue name="clinic">
                        <option value="">Select...</option>
                        @foreach (var item in Model.clinicalFacilityList)            
                        {
                            <option value=@item.FACILITY>@item.NAME</option>
                        }
                    </select>
                </div>
            </div>
        
            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <label style="text-align:right">Comments:</label>
                </div>
                <div class="col-md-10">
                    <textarea name="comments" id="txtComments" asp-for=@Model.icpCancer.WaitingListComments rows="5" cols="25"></textarea>
                </div>
            </div>
            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <label>Not for cross booking:</label>
                </div>
                <div class="col-md-2">
                    <input id="chkNotForCrossBooking" type="checkbox" class="form-check" />
                </div>
                <div class="col-md-2">
                    <input id="txtNotForCrossBooking" name="isNotForCrossBooking" hidden="true" />
                </div>
            </div>
        </div>

        <div class="row mb-5 g-5">
            <button type="button" class="btn btn-default btn-success" data-bs-toggle="collapse" data-bs-target="#collapsePreClinicLetter" aria-expanded="false" aria-controls="collapseExample">Pre-Clinic Letter (click to expand/hide)</button>
        </div>

        <div class="collapse" id="collapsePreClinicLetter">
            <div class="row mb-5 g-5">
                <h2>Pre-Clinic Patient Letter</h2>
            </div>
            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <label>Select letter:</label>
                </div>
                <div class="col-md-8">
                    <select id="ddlLetter" name="letter" asp-for=@Model.icpCancer.ReviewedOption>
                        @*<option value="">Select...</option>*@
                        @foreach (var item in Model.cancerReviewActionsLists)
                        {
                            <option value=@item.ID>@item.Action - @item.description</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                Additional Notes:
            </div>
            <div class="col-md-4">
                <textarea name="addNotes" asp-for=@Model.icpCancer.Comments></textarea>
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                Final Review Complete:
            </div>
            <div class="col-md-4">
                <select name="finalReview">
                    <option value="No">No</option>
                    <option value="Yes">Yes - complete and remove from list</option>
                </select>
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <button type="button" id="btnSave" class="btn btn-default btn-success">Save</button>
            </div>
        </div>
    </form>
</div>

<script>
    document.getElementById("btnSave").addEventListener("click", DoSubmit)
    document.getElementById("chkNotForCrossBooking").addEventListener("change", SetNotForCrossBooking)
    window.addEventListener("load", LoadForm);

    function SetNotForCrossBooking()
    {
        document.getElementById("txtNotForCrossBooking").value = document.getElementById("chkNotForCrossBooking").checked;
    }

    function LoadForm() 
    {
        var _reviewOption = document.getElementById("ddlLetter");       
        var _clinic = document.getElementById("ddlClinic");

        if (_reviewOption.value != 1) 
        { 
            _reviewOption.disabled = true;
        }
        
        if (_clinic.value != "") 
        {
            _clinic.disabled = true;
            document.getElementById("ddlClinician").disabled = true;
            document.getElementById("txtComments").disabled = true;
        }

    }
    
    function DoSubmit()
    {
        if (CheckFormValid() == 1) 
        {
            document.getElementById("CancerReviewForm").submit();
        }
    }

    function CheckFormValid() 
    { //validation to ensure all required data is entered
             
        if (document.getElementById("txtComments").value.match(/};.*/)) 
        {
            window.alert("Oi! Stop trying to inject SQL code into my form!");
            return 0;
        }
        return 1;
    }

</script>