@model ClinicX.ViewModels.ICPVM

@{
    ViewData["Title"] = "ClinicX - Cancer ICP Review Details";
    ViewData["Page"] = "/ Test / Edit";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id=Model.icpCancer.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Clinical Notes", "Index", "ClinicalNote", new { id=Model.icpCancer.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Back to Triage Index", "Index", "Triage", new { }, new { @class = "btn btn-success m-1" }),        
    };
}

<div class="container card">

    @if (Model.message != null)
    {
        @if (Model.success)
        {
            <div class="alert alert-success d-block text-center">
                <h3>@Model.message</h3>
            </div>
        }
        else
        {
            <div class="alert alert-danger d-block text-center">
                <h3>@Model.message</h3>
            </div>
        }
    }

    <div class="row mb-5 g-5">
        <h1>Cancer ICP Review for @Model.icpCancer.FIRSTNAME @Model.icpCancer.LASTNAME</h1>
    </div>

    <div class="d-grid mt-2 mb-2">
        <button type="button" class="btn btn-default btn-success" data-bs-toggle="collapse" data-bs-target="#collapseRiskItems" aria-expanded="false" aria-controls="collapseExample">Risk and Surveillance, and Testing (click to expand/hide)</button>
    </div>

    <div class="collapse" id="collapseRiskItems">
        @if (Model.riskList.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td>Risk</td>
                        <td>Site</td>
                        <td>Clinician</td>
                        <td>Date</td>
                        <td>Lifetime</td>
                        <td>25-29 (%)</td>
                        <td>30-40 (%)</td>
                        <td>40-50 (%)</td>
                        <td>50-60 (%)</td>                   
                        <td>Surveillance Recommendations</td>
                    </tr>
                </thead>
                <tbody>            
                    @foreach (var item in Model.riskList)
                    {
                        <tr>
                            <td><a class="btn btn-success" asp-controller="RiskAndSurveillance" asp-action="RiskDetails" asp-route-id=@item.RiskID>Select</a></td>
                            <td>@item.RiskCode</td>
                            <td>@item.SurvSiteCode</td>
                            <td>@item.Clinician</td>
                            <td>@item.RiskDate.Value.ToString("dd/MM/yyyy")</td>
                            <td>@item.LifetimeRiskPercentage</td>
                            <td>@item.R25_29</td>
                            <td>@item.R30_40</td>
                            <td>@item.R40_50</td>
                            <td>@item.R50_60</td>                                                                 
                            <td>
                                @if(Model.surveillanceList != null)
                                {
                                    @foreach(var surv in Model.surveillanceList)
                                    {
                                        @if (surv.RiskID == item.RiskID)
                                        {
                                            <span>@surv.SurvFreqCode - age @surv.SurvStartAge to @surv.SurvStopAge</span><br />
                                        }
                                    }
                                }
                            </td>
                        </tr>
                    }            
                </tbody>
            </table>
        }
        else
        {
            <h2>There are no risk items added</h2>
        }

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                @*<input type="button" value="Back" id="btnBack" class="btn btn-default btn-success" />*@
                <a type="button" class="btn btn-default btn-success" asp-controller="RiskAndSurveillance" asp-action="AddNewRisk" asp-route-id=@Model.icpCancer.ICPID>Add New Risk</a>
            </div>
        </div>

        


        @if (Model.eligibilityList.Count() > 0)
        {
            <h2>Testing Eligibility</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Calculation Tool</th>
                        <th>Gene</th>
                        <th>Score</th>
                        <th>Offer Testing?</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.eligibilityList)
                    {
                        <tr>
                            <td><a asp-controller="WIP" asp-action="Index">@item.ID</a></td>
                            <td>@item.CalcTool</td>
                            <td>@item.Gene</td>
                            <td>@item.Score</td>
                            <td>@item.OfferTesting</td>
                        </tr>
                    }
                </tbody>
            </table>
        } 

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                @*<input type="button" value="Back" id="btnBack" class="btn btn-default btn-success" />*@
                <a type="button" class="btn btn-default btn-success" asp-controller="RiskAndSurveillance" asp-action="AddNewTestingEligibility" asp-route-id=@Model.icpCancer.ICP_Cancer_ID>Add Testing Eligibility</a>
            </div>
        </div>
    </div>

    <form id="CancerReviewForm" asp-action="CancerReview">
    
        <div class="row mb-5 g-5" hidden="true">
            <input asp-for=@Model.icpCancer.ICP_Cancer_ID name="id" />
        </div>
               

        <div class="d-grid mt-2 mb-2">
            <button type="button" class="btn btn-default btn-success" data-bs-toggle="collapse" data-bs-target="#collapseSeeInClinic" aria-expanded="false" aria-controls="collapseExample">See in Clinic (click to expand/hide)</button>
        </div>

        <div class="collapse" id="collapseSeeInClinic">
            <div class="row mb-5 g-5">
                <h2>See in Clinic</h2>
            </div>

            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <label class="text-right">Clinician:</label>
                </div>
                <div class="col-md-4">
                    <select id="ddlClinician" asp-for=@Model.icpCancer.WaitingListClinician name="clinician">
                        <option value="">Select...</option>
                        @foreach (var item in Model.staffMembers)
                        {
                            <option value=@item.STAFF_CODE>@item.NAME</option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="text-right">Clinic:</label>
                </div>
                <div class="col-md-4">
                    <select id="ddlClinic" asp-for=@Model.icpCancer.WaitingListVenue name="clinic">
                        <option value="">Select...</option>
                        @foreach (var item in Model.clinicalFacilityList)            
                        {
                            <option value=@item.FACILITY>@item.NAME</option>
                        }
                    </select>
                </div>
            </div>
        
            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <label class="text-right">Comments:</label>
                </div>
                <div class="col-md-10">
                    <textarea name="comments" id="txtComments" asp-for=@Model.icpCancer.WaitingListComments rows="5" cols="25"></textarea>
                </div>
            </div>
            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <label>Not for cross booking:</label>
                </div>
                <div class="col-md-2">
                    <input id="chkNotForCrossBooking" type="checkbox" class="form-check" />
                </div>
                <div class="col-md-2">
                    <input id="txtNotForCrossBooking" name="isNotForCrossBooking" hidden="true" />
                </div>
            </div>
        </div>

        <div class="d-grid mt-3 mb-5">
            <button type="button" class="btn btn-default btn-success" data-bs-toggle="collapse" data-bs-target="#collapsePreClinicLetter" aria-expanded="false" aria-controls="collapseExample">Pre-Clinic Letter (click to expand/hide)</button>
        </div>

        <div class="collapse" id="collapsePreClinicLetter">
            <div class="row mb-5 g-5">
                <h2>Pre-Clinic Patient Letter</h2>
            </div>
            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <label>Select letter:</label>
                </div>
                <div class="col-md-5">
                    <select id="ddlLetter" class="w-100" name="letter" asp-for=@Model.icpCancer.ReviewedOption>
                        @*<option value="">Select...</option>*@
                        @foreach (var item in Model.cancerReviewActionsLists)
                        {
                            <option value=@item.ID>@item.Action - @item.description</option>
                        }
                    </select>
                </div>
                <div class="col-md-1">
                    <label>Free text:</label>
                </div>
                <div class="col-md-4">
                    <textarea class="w-100" name="freeText1"></textarea>
                </div>
            </div>
        </div>
        

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                Additional Notes:
            </div>
            <div class="col-md-4">
                <textarea name="addNotes" asp-for=@Model.icpCancer.Comments></textarea>
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                Final Review Complete:
            </div>
            <div class="col-md-4">
                <select id="ddlFinalReviewComplete" name="finalReview">
                    <option value="No">No</option>
                    <option value="Yes">Yes - complete and remove from list</option>
                    <option value="Complete">Completed</option>
                </select>
            </div>
            <div class="col-md-2">
                To Be Reviewed By:
            </div>
            <div class="col-md-4">
                <select id="ddlToBeReviewedBy" name="toBeReviewedBy" asp-for=@Model.icpCancer.ToBeReviewedby>
                    <option value="">Select...</option>
                    @foreach(var item in Model.staffMembers)
                    {
                        <option value=@item.EMPLOYEE_NUMBER>@item.NAME</option>
                    }
                </select>
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <button type="button" id="btnSave" class="btn btn-default btn-success">Save</button>
            </div>
        </div>
    </form>
    <div class="row mb-5 g-5">
        <div class="col-md-4">
            @*<a type="button" class="btn btn-default btn-success" asp-controller="Triage" asp-action="DoRepsum" asp-route-icpid=@Model.icpCancer.ICP_Cancer_ID asp-route-diaryID="12345">Create Repsum</a>*@
        </div>       
    </div>

    <div class="row mb-5 g-5">
        <div class="col-md-4">
            <a type="button" class="btn btn-default btn-success" asp-controller="Triage" asp-action="FurtherRequest" asp-route-id=@Model.icpCancer.ICP_Cancer_ID>Further Requests</a>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a type="button" class="btn btn-default btn-success" asp-controller="Triage" asp-action="VHRPro" asp-route-id=@Model.icpCancer.ICP_Cancer_ID>Send VHR Proforma</a>
        </div>
    </div>
</div>

<script>
    document.getElementById("btnSave").addEventListener("click", DoSubmit)
    document.getElementById("chkNotForCrossBooking").addEventListener("change", SetNotForCrossBooking)
    window.addEventListener("load", LoadForm);

    function SetNotForCrossBooking()
    {
        document.getElementById("txtNotForCrossBooking").value = document.getElementById("chkNotForCrossBooking").checked;
    }

    function LoadForm() 
    {
        var _reviewOption = document.getElementById("ddlLetter");       
        var _clinic = document.getElementById("ddlClinic");
        var _finalreview = document.getElementById("ddlFinalReviewComplete");
        var _toBeReviewed = document.getElementById("ddlToBeReviewedBy");

        if (_reviewOption.value != 1) 
        { 
            _reviewOption.disabled = true;
        }
        
        if (_clinic.value != "") 
        {
            _clinic.disabled = true;
            document.getElementById("ddlClinician").disabled = true;
            document.getElementById("txtComments").disabled = true;
        }
        

        if("@Model.icpCancer.FinalReviewed" != null && "@Model.icpCancer.FinalReviewed" != "")
        {
            _finalreview.value = "Complete";
            _finalreview.disabled = true;
            _toBeReviewed.disabled = true;
            document.getElementById("btnSave").disabled = true;
        }

    }
    
    function DoSubmit()
    {
        if (CheckFormValid() == 1) 
        {
            document.getElementById("ddlFinalReviewComplete").disabled=false;
            document.getElementById("ddlToBeReviewedBy").disabled=false;
            document.getElementById("ddlClinician").disabled=false;
            document.getElementById("ddlClinic").disabled=false;
            document.getElementById("txtComments").disabled=false;
            document.getElementById("ddlLetter").disabled=false;
            document.getElementById("CancerReviewForm").submit();
        }
    }

    function CheckFormValid() 
    { //validation to ensure all required data is entered
             
        if (document.getElementById("txtComments").value.match(/};.*/)) 
        {
            window.alert("Oi! Stop trying to inject SQL code into my form!");
            return 0;
        }        

        if (document.getElementById("ddlLetter").value == 9 || document.getElementById("ddlLetter").value == 10)
        {   
            @if (Model.surveillanceList.Count() == 0)
            {
                @:window.alert("You have selected an O3 or O3a with no surveillance recommendations. Please amend.");
                @:return 0;            
            }
        }

        return 1;
    }

</script>