@model ClinicX.ViewModels.ICPVM
@{
    ViewData["Title"] = "Clinic-X - ICP Details";
}

<div class="container">
    <div class="row mb-5 g-5">
        <div class="col-md-2">
        @*<input type="button" value="Back" id="btnBack" class="btn btn-default btn-success" />*@
            <a type="button" class="btn btn-default btn-success" asp-controller="Triage" asp-action="Index">Back to Triage Index</a>
        </div>
        <div class="col-md-1">
            <a class="btn btn-default btn-success" asp-controller="Patient" asp-action="PatientDetails" asp-route-id=@Html.ValueFor(model => model.triage.MPI)>Patient Details</a>        
        </div>    
    </div>

    <h1>ICP Details</h1>

    <div class="container">
        <dl class="row">
            <dt class="col-sm-10"></dt>
            <dt class="col-sm-2">
                <a type="button" class="btn btn-success" asp-action="ChangeGeneralTriage" asp-route-id=@Model.triage.ICPID>Change Triaging Clinician(s)</a>
            </dt>            
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.triage.Name):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.triage.Name)
            </dd>           
            <dt class="col-sm-2">
                Consultant:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.triage.ConsultantName)
            </dd>
            <dt class="col-sm-2">
                GC:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.triage.GCName)
            </dd>
            <dt class="col-sm-2">
                Referral Date:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.triage.RefDate)
            </dd>
            <dt class="col-sm-2">
                Pathway:
            </dt>
            <dd class="col-sm-10" id="referralPathway">
                @Html.DisplayFor(model => model.triage.ReferralPathway)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.triage.CGU_No)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.triage.CGU_No)
            </dd>
            <dt class="col-sm-2">
                Referred By:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.referralDetails.ReferringClinician) - @Html.DisplayFor(model => model.referralDetails.ReferringFacility)
            </dd>
            <dt class="col-sm-2">
                Indication:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.referralDetails.INDICATION)
            </dd>            
        </dl>        
        <form id="formIndicationNotes" asp-action="SaveIndicationNotes">
            <div class="row">
                <div class="col-md-2">
                    <b>Indication Notes:</b>
                </div>
                <div class="col-md-4">
                    @*@Html.DisplayFor(model => model.referralDetails.REASON_FOR_REFERRAL)*@
                    <input name="icpID" asp-for=@Model.triage.ICPID hidden="true" />
                    <input class="w-100" name="indicationNotes" asp-for=@Model.referralDetails.REASON_FOR_REFERRAL />
                </div>
                <div class="col-md-2">
                    <button id="btnIndicationNotes" class="btn btn-default btn-success">Save Indication Notes</button>
                </div>
            </div>
        </form>        
    </div>
    
    

    
    <form id="formICPGeneral" asp-action="DoGeneralTriage">
        <div id="metadata-general" hidden="true">
            @*<input value=@Html.DisplayFor(model => model.triage.ICPID) name="icpID" />*@
            <input name="icpID" asp-for=@Model.triage.ICPID />
            <input id="txtTP1" name="tp" />
            <input id="txtTP2" name="tp2" />
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Treatment Pathway:</label>
            </div>
            <div class="col-md-8">
                <select id="ddlTreatPath1" name="tp" asp-for=@Model.triage.TreatPath>                    
                    <option value="">Select...</option>
                    @foreach(var item in Model.generalActionsList)
                    {
                        <option value=@item.ID>@item.Action</option>
                    }
                </select>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <select id="ddlTreatPath2-Clinic" name="tp2c" asp-for=@Model.triage.TreatPath2>
                    <option value="">Select...</option>
                    @foreach(var item in Model.generalActionsList2)
                    {
                        if(item.Clinic == true)
                        {
                            <option value=@item.ID>@item.Action</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <select id="ddlTreatPath2-NoClinic" name="tp2nc" asp-for=@Model.triage.TreatPath2>
                    <option value="">Select...</option>
                    @foreach (var item in Model.generalActionsList2)
                    {
                        if (item.Clinic == false)
                        {
                            <option value=@item.ID>@item.Action</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-2"></div>
        </div>        
        <div id="WaitingListDetails">
            <div class="row mb-5 g-5">
                <h5 id="lblWaitingList">Waiting list details:</h5>
            </div>
            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <label for="ddlFacility" id="lblFacility">Clinic:</label>
                </div>

                <div class="col-md-6">
                    <select id="ddlFacility" name="facility">
                        <option value="" selected></option>
                        @foreach (var f in Model.clinicalFacilityList)
                        {
                            <option value=@f.FACILITY>@f.NAME</option>
                        }
                    </select>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <label for="ddlIsSPR" id="lblIsSPR">Suitable for SpR:</label>
                </div>
                <div class="col-md-2">
                    <select id="ddlIsSPR" name="isSPR">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="ddlIsChild" id="lblIsChild">Is child required:</label>
                </div>

                <div class="col-md-2">
                    <select id="ddlIsChild" name="isChild">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
            </div>
            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <label for="txtComment" id="lblComment">Comments:</label>
                </div>
                <div class="col-md-6">
                    <textarea id="txtComment" name="comment"></textarea>
                </div>
                <div class="col-md-2">
                    <label for="txtComment" id="lblDuration">Duration:</label>
                </div>
                <div class="col-md-2">
                    <input id="txtComment" name="duration" />
                </div>

            </div>
        </div>
        <div class="row mb-5 g-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <button id="btnGeneralTriage" class="btn btn-default btn-success">Complete Triage</button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </form>

    <form id="formICPCancer" asp-action="DoCancerTriage">
        <div id="metadata-cancer" hidden="true">
            <input value=@Html.DisplayFor(model => model.triage.ICPID) name="icpID" />
        </div>
        <div class="row">            
            <div class="col-md-2">
                <label>Action on Referral Letter</label>
            </div>
            <div class="col-md-10">
                <select id="ddlCancerAction" name=action>                    
                    @foreach(var item in @Model.cancerActionsList)
                    {
                        <option value=@item.ID>@item.Action</option>
                    }
                </select>
            </div>
            <div class="row mb-5 g-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <button id="btnCancerTriage" class="btn btn-default btn-success">Complete Triage</button>
            </div>
            <div class="col-md-2"></div>
        </div>
        </div>

    </form>

</div>

<script type="text/javascript">

    //document.getElementById("btnBack").addEventListener("click", GoBack);
    document.getElementById("ddlTreatPath1").addEventListener("change", DoTreatPath1);
    document.getElementById("ddlTreatPath2-Clinic").addEventListener("change", DoTreatPath2);
    document.getElementById("ddlTreatPath2-NoClinic").addEventListener("change", DoTreatPath2);
    document.getElementById("btnGeneralTriage").addEventListener("click", DoGeneralTriage);
    document.getElementById("btnCancerTriage").addEventListener("click", DoCancerTriage);
    window.addEventListener("load", LoadICP);

    function GoBack() 
    {
        window.history.back();
        //window.close();
    }

    function DoTreatPath1()
    {
        let _tp = document.getElementById("ddlTreatPath1")        
        //window.alert(_tp.value);
        document.getElementById("txtTP1").value = _tp.value;
        switch(_tp.value)
        {
            case "1":
                //window.alert("None");
                document.getElementById("ddlTreatPath2-NoClinic").hidden = true;
                document.getElementById("ddlTreatPath2-Clinic").hidden = true;
            break;
            case "2":
                //window.alert("No Clinic Appt");
                document.getElementById("ddlTreatPath2-NoClinic").hidden = false;
                document.getElementById("ddlTreatPath2-Clinic").hidden = true;
            break;
            case "3":
                //window.alert("GC Only")
                var _user = "@(Model.loggedOnUserType)"; //make sure WL stuff doesn't appear if consultant does "GC Only" triage
                
                if (_user == "Consultant") 
                {
                    document.getElementById("btnGeneralTriage").hidden = false;
                }
                else 
                {
                    document.getElementById("ddlTreatPath2-Clinic").hidden = false;
                    document.getElementById("ddlTreatPath2-NoClinic").hidden = true;
                    document.getElementById("ddlIsSPR").hidden = true;
                }
            break;
            case "4":
                //window.alert("Consultant Only")
               document.getElementById("ddlTreatPath2-Clinic").hidden = false;
               document.getElementById("ddlTreatPath2-NoClinic").hidden = true;
           break;
           default:
                //window.alert("Consultant and GC Appt");
                document.getElementById("ddlTreatPath2-Clinic").hidden = false;
                document.getElementById("ddlTreatPath2-NoClinic").hidden = true;
        }
    }

    function DoTreatPath2()
    {        
        let _tp1 = "";
        let _tp2 = "";
        _tp1 = document.getElementById("ddlTreatPath1");
        if (!document.getElementById("ddlTreatPath2-Clinic").hidden)
        {            
            _tp2 = document.getElementById("ddlTreatPath2-Clinic");            
             
            if (_tp2.value == "" ||  _tp2.value == "1" || _tp2.value == "6" || _tp2.value == "7" || _tp2.value == "8") 
            {
                document.getElementById("WaitingListDetails").hidden = true;
            }
            else 
            {
                document.getElementById("WaitingListDetails").hidden = false;
            }           
        }

        if (!document.getElementById("ddlTreatPath2-NoClinic").hidden) 
        {
            _tp2 = document.getElementById("ddlTreatPath2-NoClinic");            
            document.getElementById("WaitingListDetails").hidden = true;
        }
        
        if (_tp1.value == "4" || _tp1.value == "5") 
        {
            document.getElementById("lblIsSPR").hidden = false;
            document.getElementById("ddlIsSPR").hidden = false;
        }
        else 
        {
            document.getElementById("lblIsSPR").hidden = true;
            document.getElementById("ddlIsSPR").hidden = true;
        }
        
        if (_tp2.value == "") 
        {
            document.getElementById("btnGeneralTriage").hidden = true;
        }
        else 
        {
            document.getElementById("btnGeneralTriage").hidden = false;
        }
    }


    function LoadICP() 
    {
        var _rp = "@(Model.triage.ReferralPathway)";
        var _gc = "@(Model.triage.GCTriaged)";
        var _cons = "@(Model.triage.ConsTriaged)";
        document.getElementById("formICPGeneral").hidden = true;
        document.getElementById("formICPCancer").hidden = true;
        
        if (_rp.match("Gen*")) 
        {        
            document.getElementById("formICPGeneral").hidden = false;
            document.getElementById("metadata-general").hidden = true;
            document.getElementById("WaitingListDetails").hidden = true;
            document.getElementById("ddlTreatPath2-Clinic").hidden = true;
            document.getElementById("ddlTreatPath2-NoClinic").hidden = true;
            document.getElementById("btnGeneralTriage").hidden = true;            

            if (_cons == "True") 
            {                
                var _tp1 = document.getElementById("ddlTreatPath1");
                DoTreatPath1();
                _tp1.disabled = true;
            }

            if (_gc == "True") {
                var _tp2c = document.getElementById("ddlTreatPath2-Clinic");
                var _tp2nc = document.getElementById("ddlTreatPath2-NoClinic");

                if (!_tp2c.hidden) 
                {                    
                    _tp2c.disabled = true;                   
                    document.getElementById("WaitingListDetails").hidden = false;
                }

                if (!_tp2nc.hidden) 
                {                    
                    document.getElementById("WaitingListDetails").hidden = true;
                    _tp2nc.disabled = true;
                }
            }

            document.getElementById("ddlIsSPR").value = "@(Model.triage.ConsWLForSPR)";            
        }
        
        else 
        {            
            document.getElementById("formICPCancer").hidden = false;
        }
    }


    function DoGeneralTriage()
    {
        var _tp2c = document.getElementById("ddlTreatPath2-Clinic");
        var _tp2nc = document.getElementById("ddlTreatPath2-NoClinic");
        var _facility = document.getElementById("ddlFacility");
        
        if (CheckFormValid() == 1) 
        {
            //window.alert("Submitted!");
            document.getElementById("formICPGeneral").submit;
        }        
    }

    function DoCancerTriage()
    {
        document.getElementById("formICPCancer").submit;
    }



    function CheckFormValid() 
    { //validation to ensure all required data is entered

        if (document.getElementById("ddlTreatPath1").value == null || document.getElementById("ddlTreatPath1").value == "") {
            window.alert("Please choose a treatment pathway.");
            return 0;
        }

        return 1;
    }

</script>