@model ClinicX.ViewModels.ICPVM
@{
    ViewData["Title"] = "Clinic-X - Triages";
}

@{
    ViewData["Title"] = "ClinicX - Triages";
    ViewData["Page"] = "/ Triage / Index";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}


<div class="container card">

    <div class="row g-2 mb-5 mt-2">
        <h2 class="text-center">Cases to Triage:</h2>
    </div>

    <div class="d-grid">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>File Number</th>
                    <th>Pathway</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Referral Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.triages)
                {
                    <tr>
                        <td><a asp-controller="Triage" asp-action="ICPDetails" asp-route-id=@item.ICPID class="btn btn-success">Select</a></td>
                        <td>@item.CGU_No</td>
                        <td>@item.ReferralPathway</td>
                        <td>@item.RefType</td>
                        <td>@item.Name</td>
                        @if(item.RefDate.HasValue)
                        {
                            <td>@item.RefDate.Value.ToString("dd/MM/yyyy")</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (Model.icpCancerListOwn.Count > 0 || Model.icpCancerListOther.Count > 0)
    {
        <div class="row mb-5 g-5">
            <h2 class="text-center">Other Clinicians' ICPs to Review:</h2>
        </div>

        <div class="d-grid">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>File Number</th>
                        <th>Name</th>
                        <th>Referral Date</th>
                        <th>Referral Action</th>
                        <th>Additional Notes</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.icpCancerListOther)
                    {
                        <tr>
                            <td><a asp-action="CancerReview" asp-route-id=@item.ICP_Cancer_ID class="btn btn-success">Select</a></td>
                            <td>@item.CGU_No</td>
                            <td>@item.FIRSTNAME @item.LASTNAME</td>
                            @if(item.REFERRAL_DATE.HasValue)
                            {
                                <td>@item.REFERRAL_DATE.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.ReferralAction</td>
                            <td>@item.Comments</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row mb-5 g-5">
            <h2 class="text-center">My Cancer ICPs For Review:</h2>
        </div>

        <div class="d-grid">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>File Number</th>
                        <th>Name</th>
                        <th>Referral Date</th>
                        <th>Referral Action</th>
                        <th>Additional Notes</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.icpCancerListOwn)
                    {
                        <tr>
                            <td><a asp-action="CancerReview" asp-route-id=@item.ICP_Cancer_ID class="btn btn-success">Select</a></td>
                            <td>@item.CGU_No</td>
                            <td>@item.FIRSTNAME @item.LASTNAME</td>
                            @if(item.REFERRAL_DATE.HasValue)
                            {
                                <td>@item.REFERRAL_DATE.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.ReferralAction</td>
                            <td>@item.Comments</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>        
    }
</div>
