@model ClinicX.ViewModels.HPOVM

@{
    ViewData["Title"] = "Clinic-X - HPO Term Extraction";
}

@{
    ViewData["Title"] = "Clinic-X - HPO Term Extraction";
    ViewData["Page"] = "/ Clinical Note / HPO Term Extraction";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id = Model.clinicalNote.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Back to Clinical Note", "Edit", "ClinicalNote", new { id = Model.clinicalNote.ClinicalNoteID}, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Clinical Notes Index", "Index", "ClinicalNote", new { id = Model.clinicalNote.MPI }, new { @class = "btn btn-success m-1" }),
    };
}

<div class="container card">
    <div class="mb-5 mt-2 g-2">
        @*<input type="button" value="Back" id="btnBack" class="btn btn-default btn-success" />*@
        @*<a type="button" class="btn btn-default btn-success" asp-controller="ClinicalNote" asp-action="Edit" asp-route-id=@Html.ValueFor(Model => Model.clinicalNote.ClinicalNoteID)>Back to Note</a>*@
    </div>

    <div class="mb-5 mt-2 g-2">
        @*<input type="button" value="Back" id="btnBack" class="btn btn-default btn-success" />*@
        @if (Model.staffMember.BILL_ID == "Technical")
        {
            <a type="button" class="btn btn-default btn-danger" asp-controller="HPO" asp-action="GetAllHPOTerms">Get all HPO codes</a>
        }
    </div>


    <h1>Clinical Note HPO Terms</h1>

    <div>
        <form id="ExtractHPOTerms">        
            <div class="row mb-2 g-2">
                <div class="row">
                    <div class="col-sm-2">
                        Note:
                    </div>
                    <div class="col-sm-10">
                        <textarea id="txtClinicalNote" rows="10" cols="120" name="clinicalNote" asp-for=@Model.clinicalNote.ClinicalNote></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        @*<input type="button" value="Extract Terms" id="btnExtract" class="btn btn-default btn-success" />*@
                    </div>
                </div>
                <div id="metadata" hidden="true">        
                    RefID:<input id="metaRefID" value=@Model.clinicalNote.RefID />
                    NoteID:<input id="metaNoteID" name="noteID" value=@Model.clinicalNote.ClinicalNoteID />
                    DCTMSTS:<input id="txtDCTMSts" value=@Model.clinicalNote.CN_DCTM_sts />
                </div>
            </div>
        </form>
    </div>

    <div class="d-grid">
    <h4>Existing HPO codes:</h4>
        <form id="DeleteHPOTermFromNote" asp-action="DeleteHPOTermFromNote">
        <input id="txtID" name="id" hidden="true" />
    
        @foreach (var e in Model.hpoTermDetails)
        {
            <div class="row mb-2 g-2">
                <div class="col-sm-2">
                        <input type="button" ID=@e.ID value="Delete" class="btn btn-default btn-sm btn-outline-success" onclick="DeleteTermFromText(@e.ID)" />
                </div>            
                <div class="col-sm-10">
                    @e.TermCode - @e.Term
                </div>
            </div>
        }
        </form>
    </div>

    <div class="d-grid">
        <hr />
    </div>

    <div class="d-grid">    
        <h4>Suggested HPO codes:</h4>
        <br /><br />
        <form id="AddHPOTermFromText" asp-action="AddHPOTermFromText">
            <input id="txtNoteID1" name="noteID" value=@Model.clinicalNote.ClinicalNoteID hidden="true" /> <input id="txtTermID" name="termID" hidden="true" />
            @if(Model.hpoExtractedTerms.Count > 0)
            {
                <h5>The following HPO terms have been found in the text:</h5>

                @foreach (var t in Model.hpoExtractedTerms)
                {
                    <div class="row mb-2 g-2">
                        <div class="col-sm-2">
                            <input type="button" id=@t.HPOTermID value="Add HPO Term" class="btn btn-default btn-sm btn-outline-success" onclick="AddTermFromText(@t.HPOTermID)"  />
                        </div>                
                        <div class="col-sm-10">
                            @t.TermCode - @t.Term
                        </div>            
                    </div>
                }
            }
            else
            {
                <h5>No HPO terms can be extracted from the note provided.</h5>
            }
        </form>
    </div>

    <div class="d-grid">
        <hr />
    </div>

    <div class="d-grid">
        <h4>Add other HPO codes:</h4> <h6>(enter a search term to activate the menu)</h6>
        <form id="HPOSearch">
            <div class="row mb-2 g-2">
                <div class="col-md-2" class="text-right">
                    <label>Search:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="txtSearch" name="searchTerm" asp-for=@Model.searchTerm />
                    <input name="id" value=@Model.clinicalNote.ClinicalNoteID hidden="true" />
                    @*<a type="button" class="btn btn-success" asp-controller="API" asp-action="GetHPOCodes" asp-route-searchTerm="kidney">TestSearch</a>*@
                </div>
            </div>
        </form>

        <form id="AddHPOTerm" asp-action="AddHPOTerm">        
            <div class="row">
                <div class="col-md-2" class="text-right">
                    HPO Codes:
                </div>
    
                <div class="col-md-8">
                    <select class="w-100" id="ddlHPO" name="termCode" disabled="true">
                        @if(Model.hpoTerms != null)
                        {
                            @foreach (var t in Model.hpoTerms)
                            {
                                <option value="@t.TermCode">@t.TermCode - @t.Term</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="button" value="Add HPO Code" id="btnAdd" class="btn btn-default btn-outline-success" asp-controller="HPO" asp-action="AddHPOTerm" disabled="true" />
                </div>    
            </div>
    
            <div class="row mb-5 g-5">        
                <input id="txtNoteID2" name="noteID" value=@Model.clinicalNote.ClinicalNoteID hidden="true" />
            </div>
        </form>
    
    </div>

    <div class="d-grid">
        <hr />
    </div>
</div>


<script type="text/javascript">

    //document.getElementById("btnBack").addEventListener("click", GoBack);
    document.getElementById("txtSearch").addEventListener("blur", DoSearch);
    document.getElementById("btnAdd").addEventListener("click", AddTerm);
    window.addEventListener("load", LoadNote);

    function LoadNote() 
    {  
        if (document.getElementById("txtDCTMSts").value == 1) 
        {            
            document.getElementById("txtClinicalNote").disabled = true;           
        }

        //window.alert(document.getElementById("txtSearch").value);

        if (document.getElementById("txtSearch").value != "" && document.getElementById("txtSearch").value != null) 
        {
            document.getElementById("ddlHPO").disabled = false;
            document.getElementById("btnAdd").disabled = false;
        }
        //document.getElementById("ddlHPO").disabled = false;
    }

    function ExtractTerms()
    {
        document.getElementById("ExtractHPOTerms").submit();
    }

    function AddTerm() 
    {        
        document.getElementById("AddHPOTerm").submit();
    }

    function AddTermFromText(termID)
    {
        //there is no way to call the function with the two parameters being in separate places, so we have to
        //cheat it by putting the termID parameter into a field it can access
        document.getElementById("txtTermID").value = termID;
        document.getElementById("AddHPOTermFromText").submit();
    }    

    function DeleteTermFromText(ID)
    {
        //same as above, we have to cheat it by putting the ID into a field that can pass it to the c#
        document.getElementById("txtID").value = ID;
        document.getElementById("DeleteHPOTermFromNote").submit();
    }

    function GoBack() 
    {
        window.history.back();
        //window.close();
    }

    function DoSearch() 
    {         
        //window.alert(document.getElementById("txtSearch").value);
        document.getElementById("HPOSearch").submit();
    }

</script>