@model ClinicX.ViewModels.ProfileVM

@{
    ViewData["Title"] = "ClinicX - Update Details";
    ViewData["Page"] = "/ Profile / Update Details";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}


@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Back to Profile Details", "ProfileDetails", "UserProfile", new { id=Model.staffMember.STAFF_CODE }, new { @class = "btn btn-success m-1" }),
    };
}

<div class="container">

    @if (Model.message != null)
    {
        @if (Model.success)
        {
            <div class="alert alert-success d-block text-center">
                <h3>@Model.message</h3>
            </div>
        }
        else
        {
            <div class="alert alert-danger d-block text-center">
                <h3>@Model.message</h3>
            </div>
        }
    }

    <div class="row mb-5 g-5">
        <h1 class="text-center">Profile details for @Model.staffMember.EMPLOYEE_NUMBER (@Model.staffMember.NAME)</h1>
    </div>

    <form id="frmEdit" asp-action="Edit">
        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Name:</label>
            </div>
            <div class="col-md-2">
                <select name="title" asp-for=@Model.staffMember.StaffTitle>
                    <option value="" selected>Select...</option>
                    @foreach(var item in Model.titles)
                    {
                        <option value="@item.Title">@item.Title</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <input id="txtForename" name="forename" asp-for=@Model.staffMember.StaffForename />
            </div>
            <div class="col-md-2">
                <input id="txtSurname" name="surname" asp-for=@Model.staffMember.StaffSurname />
            </div>

        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Job Title:</label>
            </div>
            <div class="col-md-8">
                <textarea id="txtPosition" name="position" asp-for=@Model.staffMember.POSITION></textarea>
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Contact number:</label>
            </div>
            <div class="col-md-8">
                <input name="telephone" asp-for=@Model.staffMember.TELEPHONE />
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Email address:</label>
            </div>
            <div class="col-md-8">
                <input type="email" id="txtEmail" name="email" asp-for=@Model.staffMember.EMAIL />
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>GMC Number (if applicable):</label>
            </div>
            <div class="col-md-2">
                <input name="gmcnumber" id="txtGMCNumber" asp-for=@Model.staffMember.GMCNumber />
            </div>
            <div class="col-md-8">
                <label class="redtext">Note: Only the GMC number goes here, GCRB or HCPC numbers should go in the "job title" field.</label>
            </div>
        </div>
        
            
        
        
        <div class="row mb-5 g-5">
            <div class="col-md-2">
                @*<a type="button" class="btn btn-success" asp-controller="UserProfile" asp-action="ProfileDetails">Back</a>*@
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2">
                <button type="button" id="btnSubmit" class="btn btn-outline-success">Save Details</button>
            </div>
        </div>
    </form>

</div>

<script>
    document.getElementById("btnSubmit").addEventListener("click", DoSubmit);

    function DoSubmit()
    {        
        if (CheckFormValid() == 1)
        {            
            document.getElementById("frmEdit").submit();
        }
    }

    function CheckFormValid()
    {
        var gmcNumber = document.getElementById("txtGMCNumber").value;
        var forename = document.getElementById("txtForename").value;
        var surname = document.getElementById("txtSurname").value;
        var position = document.getElementById("txtPosition").value;
        
        if (!gmcNumber.match(/GMC*/) && gmcNumber != "")
        {
            window.alert("That is not a valid GMC number, it needs to start with 'GMC'.");
            return 0;
        }
        if (forename == "" || surname == "")
        {
            window.alert("Please enter a name, the department does not employ ghosts.");
            return 0;
        }       
        if (position == "")
        {
            window.alert("Please enter a job title, you're not employed to do nothing.");
            return 0;
        }

        return 1;
    }

</script>
