@model ClinicX.ViewModels.ProfileVM

@{
    ViewData["Title"] = "Clinic-X - Update Details";
}

<div class="container">

    @if (Model.message != null)
    {
        @if (Model.success)
        {
            <div class="alert alert-success d-block text-center">
                <h3>@Model.message</h3>
            </div>
        }
        else
        {
            <div class="alert alert-danger d-block text-center">
                <h3>@Model.message</h3>
            </div>
        }
    }

    <div class="row mb-5 g-5">
        <h1 class="text-center">Profile details for @Model.staffMember.EMPLOYEE_NUMBER (@Model.staffMember.NAME)</h1>
    </div>

    <form asp-action="Edit">
        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Name:</label>
            </div>
            <div class="col-md-2">
                <select name="title" asp-for=@Model.staffMember.StaffTitle>
                    <option value="" selected>Select...</option>
                    @foreach(var item in Model.titles)
                    {
                        <option value="@item.Title">@item.Title</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <input name="forename" asp-for=@Model.staffMember.StaffForename />
            </div>
            <div class="col-md-2">
                <input name="surname" asp-for=@Model.staffMember.StaffSurname />
            </div>

        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Job Title:</label>
            </div>
            <div class="col-md-8">
                <input name="position" asp-for=@Model.staffMember.POSITION />
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Contact number:</label>
            </div>
            <div class="col-md-8">
                <input name="telephone" asp-for=@Model.staffMember.TELEPHONE />
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Email address:</label>
            </div>
            <div class="col-md-8">
                <input name="email" asp-for=@Model.staffMember.EMAIL />
            </div>
        </div>
        
        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <a type="button" class="btn btn-success" asp-controller="UserProfile" asp-action="ProfileDetails">Back</a>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">Save Details</button>
            </div>
        </div>
    </form>

</div>
