@model ClinicX.ViewModels.TestDiseaseVM

@{
    ViewData["Title"] = "ClinicX - Add New Test";
    ViewData["Page"] = "/ Test / Add new";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id=Model.patient.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Back to Test List", "Index", "Test", new { id=Model.patient.MPI }, new { @class = "btn btn-success m-1" }),
    };
}

<div class="container card">   

    <h1>Add new test for @Html.DisplayFor(Model => Model.patient.FIRSTNAME) @Html.DisplayFor(Model => Model.patient.LASTNAME)</h1>

    <div class="container">
        <form id="AddTestForm" asp-action="AddNew">
            <div id="metadata" hidden>
                <input id="txtMPI" name="mpi" asp-for=@Model.patient.MPI />
            </div>
            <div class="row g-5 mb-5">
                <div class="col-md-2">
                    <label class="w-100">Linked Referral:</label>
                </div>
                <div class="col-md-2">
                    <select id="ddlRefID" name="refID" class="w-100">
                        @*<option value="" selected>select...</option>*@
                        @foreach (var r in Model.referralList)
                        {
                            <option value="@r.refid">@r.RefType - @r.RefDate.Value.ToString("dd/MM/yyyy") - @r.ReferringClinician</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row g-5 mb-5">
                <div class="col-md-1">
                    <label class="w-100">Test:</label>
                </div>
                <div class="col-md-2">
                    <select id="ddlTest" name="test" class="w-100">
                        <option value="" selected>select...</option>
                        @foreach (var t in Model.testList)
                        {
                            <option value="@t.TEST">@t.TEST</option>
                        }
                    </select>
                </div>
                <div class="col-md-1">
                    <label class="w-100">Sent to:</label>
                </div>
                <div class="col-md-2">
                    <input class="w-100" id="txtSentTo" type="text" name="sentTo" />
                </div>
                <div class="col-md-2">
                    <label class="w-100">Expected/Follow Up:</label>
                </div>
                <div class="col-md-2">
                    <input class="w-100" id="txtExpected" type="date" name="expectedDate" />
                </div>
            </div>
                      

            <div class="row g-5 mb-5">
                <div class="col-md-2">
                    <input type="button" class="btn btn-default btn-outline-success" value="Save" id="btnSave" />
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
        
    document.getElementById("btnSave").addEventListener("click", AddTest);
    document.getElementById("ddlTest").addEventListener("change", SetDefaultTAT);


    function GoBack() 
    {
        window.history.back();
        //window.close();
    }
       

    function SetDefaultTAT()
    { 
        var testArray = [];
        var tatArray = [];
        const testCode = document.getElementById("ddlTest").value;
        

        @foreach(var item in Model.testList) //believe it or not, we can't combine JS and C#, so we can't compare the two inside here.
        { //we HAVE to populate the entire array first!
            @:testArray.push("@item.TEST");
            @:tatArray.push("@item.T_O");
        }
        for (var k in testArray) 
        {
            if (testArray[k] == testCode) 
            {
                if (tatArray[k] != null && tatArray[k] != "") 
                {
                    var date = new Date;
                    date.setDate(date.getDate() + parseInt(tatArray[k]));
                    txtExpected.value = date.toISOString().split('T')[0];
                    //because why would there be a simple way to get the date in standard format???
                }
            }            
        }
    }

    function AddTest()
    {       
        if (CheckFormValid() == 1) 
        {
            document.getElementById("AddTestForm").submit();
        }
    }

    function CheckFormValid() 
    { //validation to ensure all required data is entered
        if (document.getElementById("ddlRefID").value == null || document.getElementById("ddlRefID").value == "")
        {
            window.alert("Please select a referral.");
            return 0;
        }

        if (document.getElementById("ddlTest").value == null || document.getElementById("ddlTest").value == "") 
        {
            window.alert("Please select a test.");
            return 0;
        }

        if (document.getElementById("txtSentTo").value == null || document.getElementById("txtSentTo").value == "") 
        {
            window.alert("Please enter some text.");
            return 0;
        }

        if (document.getElementById("txtSentTo").value.match(/};.*/)) 
        {
            window.alert("Oi! Stop trying to inject SQL code into my form!");
            return 0;
        }
        
        return 1;
    }

</script>