@model ClinicX.ViewModels.TestDiseaseVM

@{
    ViewData["Title"] = "ClinicX - All Outstanding Tests";
    ViewData["Page"] = "/ Test / Add new";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}


<div class="container card">
    @if  (Model.tests.Count() == 0)
    {    
        <h1 class="text-center">There are no tests outstanding.</h1>    
    }
    else
    {
        <h1>Outstanding results</h1>

        <div class="d-grid">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Test</th>
                        <th>Ordered for</th>                         
                        <th>@Html.DisplayNameFor(model => model.test.DATE_REQUESTED)</th>
                        <th>@Html.DisplayNameFor(model => model.test.ExpectedDate)</th>
                        <th>@Html.DisplayNameFor(model => model.test.DATE_RECEIVED)</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.tests)
                    {
                        <tr>
                            <td><a asp-controller="Test" asp-action="Edit" asp-route-id=@item.TestID class="btn btn-success">Select</a></td>
                            <td>@item.TEST</td>
                            <td>@item.FIRSTNAME @item.LASTNAME</td>                           
                            @if (@item.DATE_REQUESTED.HasValue)
                            {
                                <td>@item.DATE_REQUESTED.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                            @if (@item.ExpectedDate.HasValue)
                            {
                                <td>@item.ExpectedDate.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>Unknown</td>
                            }
                            @if (@item.DATE_RECEIVED.HasValue)
                            {
                                <td>@item.DATE_RECEIVED.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>Awaiting</td>
                            }
                            <td>@item.COMMENTS</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <div id="metadata" hidden>
        <span id="theurl">@Context.Request.Path</span>
        <span id="thehost">@Context.Request.Host</span>
        <span id="count">@Model.tests.Count()</span>
    </div>

</div>

<script type="text/javascript">        

    function LoadPage() 
    {
        document.getElementById("metadata").hidden = true;
    }

    function GoBack() 
    {
        window.history.back();
        //window.close();
    }


    function OpenTestForm() 
    {
        //this incredibly round-about method is necessary because apparently it is impossible to simply pass the URL parameter into the button!
        var surl = "https://" + document.getElementById("thehost").innerHTML + document.getElementById("theurl").innerHTML;        
        const _url = window.location.toString();  
        const smpi = _url.substring(_url.indexOf("=")+1, _url.length);  
        surl = surl + "/AddNew?id=" + smpi;
        window.location.href = (surl);
    }

</script>