@model ClinicX.ViewModels.TestDiseaseVM

@{
    ViewData["Title"] = "ClinicX - Test Details";
    ViewData["Page"] = "/ Test / Edit";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id=Model.patient.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Full Test List for " + Model.patient.CGU_No, "Index", "Test", new { id=Model.patient.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Back to Test Details", "Edit", "Test", new { id=Model.test.TestID }, new { @class = "btn btn-success m-1" }),
    };
}


<div class="container">

    @if (Model.message != null)
    {
        @if (Model.success)
        {
            <div class="alert alert-success d-block text-center">
                <h3>@Model.message</h3>
            </div>
        }
        else
        {
            <div class="alert alert-danger d-block text-center">
                <h3>@Model.message</h3>
            </div>
        }
    }

    <div id="metadata" hidden>
        <span id="theurl">@Context.Request.Path</span>
        <span id="thehost">@Context.Request.Host</span>        
    </div>

    <h1>Blood form for @Model.patient.FIRSTNAME @Model.patient.LASTNAME</h1>

    <div class="row mb-5 g-5">
        <div class="col-md-2">
            <button type="button" id="btnChangeName" class="btn btn-success">Change Name</button>
        </div>        
    </div>

    <div class="row mb-5 g-5" id="NameChangeForm" hidden>

        <div class="col-md-2">
            <label>Name to appear on form:</label>
        </div>
        <div class="col-md-2">
            <input type="text" id="txtAltPatName" />
        </div>        
        
    </div>

    <form asp-action="BloodFormEdit">
        <div hidden>
            <input asp-for=@Model.bloodForm.BloodFormID name="bloodFormID" />
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-1"></div>
            <div class="col-md-1">
                <label>NHS/Private</label>
            </div>
            <div class="col-md-2">
                <label>NHS </label><input id="chkNHS" type="checkbox" asp-for=@Model.bloodForm.IsNHS />
                <label>Private </label><input id="chkPrivate" type="checkbox" />
                <input name="isNHS" id="txtNHS" hidden />
            </div>
            <div class="col-md-1">
                <label>Urgent/Routine</label>
            </div>
            <div class="col-md-2">
                <label>Routine </label><input id="chkRoutine" type="checkbox" asp-for=@Model.bloodForm.IsRoutine />
                <label>Urgent</label><input id="chkUrgent" type="checkbox" />                
                <input name="isRoutine" id="txtRoutine" hidden />
            </div>
            <div class="col-md-2">
                <label>Inpatient/Outpatient</label>
            </div>
            <div class="col-md-2">
                <label>Outpatient </label><input id="chkOutpatient" type="checkbox" />
                <label>Inpatient</label><input id="chkInpatient" type="checkbox" asp-for=@Model.bloodForm.IsInpatient />
                <input name="isInpatient" id="txtInpatient" hidden />
            </div>
        </div>



        <div class="row mb-5 g-5">
            <h3>Test Details</h3>
            <div class="col-md-2">
                <label>Clinical Details</label>
            </div>
            <div class="col-md-4">
                <textarea name="clinicalDetails" asp-for=@Model.bloodForm.ClinicalDetails></textarea>
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Date of Next Appointment</label>
            </div>
            <div class="col-md-4">
                <input type="date" name="nextAppDate" asp-for=@Model.bloodForm.DateOfNextAppointment />
            </div>
            <div class="col-md-2">
                <label>Testing Requirements</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="testingRequirements" asp-for=@Model.bloodForm.TestingRequirements />
            </div>
        </div>


        <div class="row mb-5 g-5">
            <div class="col-md-1">
                <label>Prenatal</label>
            </div>
            <div class="col-md-2">
                <input type="checkbox" id="chkPrenatal" asp-for=@Model.bloodForm.IsPrenatal /><input type="text" name="isPrenatal" id="txtPrenatal" hidden />
            </div>
            <div class="col-md-1">
                <label>Presymptomatic</label>
            </div>
            <div class="col-md-2">
                <input type="checkbox" id="chkPresymptomatic" asp-for=@Model.bloodForm.IsPresymptomatic /><input type="text" name="isPresymptomatic" id="txtPresymptomatic" hidden />
            </div>
            <div class="col-md-1">
                <label>Diagnostic</label>
            </div>
            <div class="col-md-2">
                <input type="checkbox" id="chkDiagnostic" asp-for=@Model.bloodForm.IsDiagnostic /><input type="text" name="isDiagnostic" id="txtDiagnostic" hidden />
            </div>
            <div class="col-md-1">
                <label>Carrier</label>
            </div>
            <div class="col-md-2">
                <input type="checkbox" id="chkCarrier" asp-for=@Model.bloodForm.IsCarrier /><input type="text" name="isCarrier" id="txtCarrier" hidden />
            </div>
        </div>

        <div class="row mb-5 g-5">
            <h3>Prenatal Screening</h3>
            <div class="col-md-2">
                <label>Type of Screening</label>
            </div>
            <div class="col-md-2">
                <input type="text" name="prenatalType" asp-for=@Model.bloodForm.PrenatalType />
            </div>
            <div class="col-md-2">
                <label>Gestation</label>
            </div>
            <div class="col-md-2">
                <input type="text" name="gestation" asp-for=@Model.bloodForm.PrenatalGestation />
            </div>
            <div class="col-md-2">
                <label>Risk</label>
            </div>
            <div class="col-md-2">
                <input type="text" name="prenatalRisk" asp-for=@Model.bloodForm.PrenatalRisk />
            </div>
        </div>

        <div class="row mb-5 g-5">
            <h3>Sample details</h3>
            <div class="col-md-2">
                <label>Specimen Type</label>
            </div>
            <div class="col-md-2">
                <select name="sampleType" id="ddlSampleType" >
                    <option value="" selected>Select...</option>
                    @foreach (var item in Model.sampleTypes)
                    {
                        <option value=@item.SampleTypeCode>@item.SampleType</option>
                    }
                </select>
            </div>
        </div>

        <div class="row mb-5 g-5">
            <h3>Family member/relative details</h3>
            <div class="col-md-2">
                <label>Full name</label>
            </div>
            <div class="col-md-2">
                <input name="relname" asp-for=@Model.bloodForm.RelativeName />
            </div>
            <div class="col-md-2">
                <label>DOB</label>
            </div>
            <div class="col-md-2">
                <input type="date" name="relDOB" asp-for=@Model.bloodForm.RelativeDOB />
            </div>
            <div class="col-md-2">
                <label>Lab/NHS number</label>
            </div>
            <div class="col-md-2">
                <input name="relNumber" asp-for=@Model.bloodForm.RelativeNo />
            </div>
        </div>
        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Details</label>
            </div>
            <div class="col-md-4">
                <input name="relativeDetails" asp-for=@Model.bloodForm.RelativeDetails />
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Sample Requirements</label>
            </div>
            <div class="col-md-2">
                <select name="sampleRequirements" asp-for=@Model.bloodForm.SampleRequirements>
                    <option value="" selected>Select...</option>
                    @foreach (var item in Model.sampleRequirementList)
                    {
                        <option value=@item.SampleRequirement>@item.SampleRequirement</option>
                    }
                </select>
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div action="col-md-2">
                <button type="submit" class="btn btn-default btn-outline-success">Save Form Details</button>
            </div>
        </div>
    </form>


    <div class="row mb-5 g-5">
        <div class="col-md-2">
            <a type="button" class="btn btn-success" id="DoFormLinkStandardPreview" asp-action="DoBloodForm" asp-route-bloodFormID=@Model.bloodForm.BloodFormID asp-route-isPreview=true>Preview Blood Form for manual printing</a>
            <button type="button" class="btn btn-success" id="DoFormLinkNameChangePreview" hidden>Preview Blood Form for manual printing</button>
        </div>
        <div class="col-md-2">
            <a type="button" class="btn btn-success" id="DoFormLinkStandard" asp-action="DoBloodForm" asp-route-bloodFormID=@Model.bloodForm.BloodFormID>Print Blood Form to VOT</a>
            <button type="button" class="btn btn-success" id="DoFormLinkNameChange" hidden>Print Blood Form to VOT</button> @*because for some reason, if I specify "isPreview=false" it throws a fit and won't call the task!!*@
        </div>
    </div>
</div>

<script>
    document.getElementById("btnChangeName").addEventListener("click", ShowNameChangeForm);
    document.getElementById("DoFormLinkNameChange").addEventListener("click", DoBloodFormWithNameChange);
    document.getElementById("DoFormLinkNameChangePreview").addEventListener("click", DoBloodFormWithNameChangePreview);
    document.getElementById("chkNHS").addEventListener("change", SetNHSPrivate1); //because we can't do this properly with just one function, obviously!!
    document.getElementById("chkPrivate").addEventListener("change", SetNHSPrivate2);
    document.getElementById("chkRoutine").addEventListener("change", SetRoutineUrgent1);
    document.getElementById("chkUrgent").addEventListener("change", SetRoutineUrgent2);
    document.getElementById("chkOutpatient").addEventListener("change", SetOutpatient);
    document.getElementById("chkInpatient").addEventListener("change", SetInpatient);
    document.getElementById("chkPrenatal").addEventListener("change", SetPrenatal);
    document.getElementById("chkPresymptomatic").addEventListener("change", SetPresymptomatic);
    document.getElementById("chkDiagnostic").addEventListener("change", SetDiagnostic);
    document.getElementById("chkCarrier").addEventListener("change", SetCarrier);
    window.addEventListener("load", LoadForm);
    document.addEventListener("input", OnInputChange);

    function OnInputChange()
    {        
        document.getElementById("DoFormLinkStandard").hidden = true;
        document.getElementById("DoFormLinkNameChange").disabled = true;
        document.getElementById("DoFormLinkStandardPreview").hidden = true;
        document.getElementById("DoFormLinkNameChangePreview").disabled = true;        
    }


    function ShowNameChangeForm()
    {
        document.getElementById("NameChangeForm").hidden=false;
        document.getElementById("DoFormLinkStandard").hidden=true;
        document.getElementById("DoFormLinkNameChange").hidden=false;
        document.getElementById("DoFormLinkStandardPreview").hidden=true;
        document.getElementById("DoFormLinkNameChangePreview").hidden=false;
    }

    function DoBloodFormWithNameChange()
    {
        var surl = "http://" + document.getElementById("thehost").innerHTML + document.getElementById("theurl").innerHTML;        
        const _url = window.location.toString();        
        const sbfi = _url.substring(_url.indexOf("=")+1, _url.length);        
        const altPatName = document.getElementById("txtAltPatName").value;
        surl = surl.replace("BloodFormEdit", "DoBloodForm")
        surl = surl + "?bloodFormID=" + sbfi + "&altPatName=" + altPatName;       
        window.location.href = (surl);
    }

    function DoBloodFormWithNameChangePreview()
    {
        var surl = "http://" + document.getElementById("thehost").innerHTML + document.getElementById("theurl").innerHTML;
        const _url = window.location.toString();
        const sbfi = _url.substring(_url.indexOf("=")+1, _url.length);
        const altPatName = document.getElementById("txtAltPatName").value;
        surl = surl.replace("BloodFormEdit", "DoBloodForm")
        surl = surl + "?bloodFormID=" + sbfi + "&altPatName=" + altPatName + "&isPreview=true";
        window.location.href = (surl);
    }

    function SetCheckBoxes()
    {
        document.getElementById("txtNHS").value = document.getElementById("chkNHS").checked;
        document.getElementById("txtRoutine").value = document.getElementById("chkRoutine").checked;
        document.getElementById("txtInpatient").value = document.getElementById("chkInpatient").checked;
        document.getElementById("txtPrenatal").value = document.getElementById("chkPrenatal").checked;
        document.getElementById("txtPresymptomatic").value = document.getElementById("chkPresymptomatic").checked;
        document.getElementById("txtDiagnostic").value = document.getElementById("chkDiagnostic").checked;
        document.getElementById("txtCarrier").value = document.getElementById("chkCarrier").checked;
    }

    function LoadForm()
    {
        document.getElementById("chkPrivate").checked = !document.getElementById("chkNHS").checked;
        document.getElementById("chkUrgent").checked = !document.getElementById("chkRoutine").checked;
        document.getElementById("chkOutpatient").checked = !document.getElementById("chkInpatient").checked;
                  
        SetCheckBoxes();

        var sampleType = document.getElementById("ddlSampleType");

        var isVB = "@Model.bloodForm.IsVenousBlood";
        var isSa = "@Model.bloodForm.IsSaliva";
        var isBS = "@Model.bloodForm.IsBuccalSwab";
        var isCVS = "@Model.bloodForm.IsCVS";
        var isAF = "@Model.bloodForm.IsAmnioticFluid";
        var isTi = "@Model.bloodForm.IsTissue";
        var isCB = "@Model.bloodForm.IsCordBlood";
        var isFB = "@Model.bloodForm.IsFetalBlood";

        if(isVB == "True") { sampleType.value = "VB"; } //fucking javascript! Of course "if(boolean)" doesn't return false if the boolean is false!!!
        if(isSa == "True") { sampleType.value = "Sa"; }
        if(isBS == "True") { sampleType.value = "BS"; }
        if(isCVS == "True") { sampleType.value = "CVS"; }
        if(isAF == "True") { sampleType.value = "AF" }
        if(isTi == "True") { sampleType.value = "Ti"; }
        if(isCB == "True") { sampleType.value = "CB"; }
        if(isFB == "True") { sampleType.value = "FB"; }       
    }

    function SetNHSPrivate1()
    {
       document.getElementById("chkPrivate").checked = !document.getElementById("chkNHS").checked;

       //because we can't just pass the value of the check box to the C#, oh no. That would be far too fucking simple!!!
       if(document.getElementById("chkNHS").checked)
       {
           document.getElementById("txtNHS").value="true";
       }
       else
       {
           document.getElementById("txtNHS").value="false";
       }
    }

    function SetNHSPrivate2()
    {
       document.getElementById("chkNHS").checked = !document.getElementById("chkPrivate").checked;

       if(document.getElementById("chkNHS").checked)
       {
           document.getElementById("txtNHS").value="true";
       }
       else
       {
           document.getElementById("txtNHS").value="false";
       }
    }

    function SetRoutineUrgent1()
    {
       document.getElementById("chkUrgent").checked = !document.getElementById("chkRoutine").checked;

       if(document.getElementById("chkRoutine").checked)
       {
           document.getElementById("txtRoutine").value="true";
       }
       else
       {
           document.getElementById("txtRoutine").value="false";
       }
    }

    function SetRoutineUrgent2()
    {
       document.getElementById("chkRoutine").checked = !document.getElementById("chkUrgent").checked;

       if(document.getElementById("chkRoutine").checked)
       {
           document.getElementById("txtRoutine").value="true";
       }
       else
       {
           document.getElementById("txtRoutine").value="false";
       }
    }

    function SetOutpatient()
    {
        document.getElementById("chkInpatient").checked = !document.getElementById("chkOutpatient").checked;

        if(document.getElementById("chkInpatient").checked)
        {
            document.getElementById("txtInpatient").value = "true";
        }
        else
        {
            document.getElementById("txtInpatient").value = "false";
        }
    }

    function SetInpatient()
    {
        document.getElementById("chkOutpatient").checked = !document.getElementById("chkInpatient").checked;

        if(document.getElementById("chkInpatient").checked)
        {
            document.getElementById("txtInpatient").value = "true";
        }
        else
        {
            document.getElementById("txtInpatient").value = "false";
        }
    }

    function SetPrenatal()
    {
        document.getElementById("txtPrenatal").value = document.getElementById("chkPrenatal").checked;
    }

    function SetPresymptomatic()
    {
        document.getElementById("txtPresymptomatic").value = document.getElementById("chkPresymptomatic").checked;
    }

    function SetDiagnostic()
    {
        document.getElementById("txtDiagnostic").value = document.getElementById("chkDiagnostic").checked;
    }

    function SetCarrier()
    {
        document.getElementById("txtCarrier").value = document.getElementById("chkCarrier").checked;
    }

</script>