@model ClinicX.ViewModels.TestDiseaseVM

@{
    ViewData["Title"] = "ClinicX - Test Details";
    ViewData["Page"] = "/ Test / Edit";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id=Model.patient.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Full Test List for " + Model.patient.CGU_No, "Index", "Test", new { id=Model.patient.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("All Outstanding Tests", "AllOutstandingTests", "Test", new {  }, new { @class = "btn btn-success m-1" }),
    };
}

<div class="container card">    
    <hr />

    <h1>Edit Test for @Model.patient.FIRSTNAME @Model.patient.LASTNAME </h1>
    <div>
        <dl class="row mb-5">
            <dt class="col-sm-2">
                Test:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.test.TEST)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.test.DATE_REQUESTED):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.test.DATE_REQUESTED) @if(Model.ageOfTest != null) 
                {
                    @if(Model.test.DATE_RECEIVED == null)
                    {
                        <span>(@Model.ageOfTest days old - outstanding)</span>
                    }
                    else
                    {
                        <span>(@Model.ageOfTest days old - received on @Model.test.DATE_RECEIVED.Value.ToString("dd/MM/yyyy"))</span>
                    }
                }
            </dd>
            <dt class="col-sm-2">
                Requested by:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.test.NAME)
            </dd>
            <dt class="col-sm-2">
                Sent to Lab:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.test.LOCATION)
            </dd>
            <dt class="col-sm-2">
                Date Expected:
            </dt>
            @if (Model.test.ExpectedDate != null)
            {
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.test.ExpectedDate)
                    @if (Model.test.ExpectedDate <= DateTime.Today)
                    {
                        <span> - This result is due, consider chasing</span>
                    }
                </dd>
            }
            else
            {
                <dd class="col-sm-10">
                    Unknown
                </dd>
            }
        </dl>
    </div>

    <div class="container mb-5">
        <form id="TestForm" asp-action="Edit">
            <div id="metadata" hidden>
                <input class="w-100" asp-for=@Model.test.TestID type="text" id="txtTestID" name="testID" />
            </div>
            <div class="row mb-5">
                <div class="col-md-1">
                    Result:
                </div>
                <div class="col-md-5">
                    <input class="w-100" asp-for=@Model.test.RESULT id="txtResult" type="text" name="result" />
                </div>
                <div class="col-md-1">
                    Comments:
                </div>
                <div class="col-md-5">
                    <input class="w-100" asp-for=@Model.test.COMMENTS id="txtComments" type="text" name="comments" />
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-1">
                    Date Received:
                </div>
                <div class="col-md-4">                     
                    <input class="w-100" asp-for=@Model.test.DATE_RECEIVED id="txtDateRec" type="date" name="receivedDate" />
                </div>
                <div class="col-md-2">
                    Result Given to Patient:
                </div>
                <div class="col-md-2">
                    <select id="ddlResultGiven">
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                    <input class="w-100" asp-for=@Model.test.ResultGivenDate id="txtDateGib" type="date" name="givenDate" hidden="true" />                   
                </div>
                <div class="col-md-1">Complete:</div>
                <div class="col-md-1">
                    <select class="w-100" asp-for=@Model.test.COMPLETE id="ddlComplete" name="complete">
                        @*because obviously a yes/no field is an integer not a boolean!*@                        
                        <option value=0>No</option>
                        <option value=-1>Yes</option>
                    </select>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <input type="button" class="btn btn-default btn-outline-success" value="Save" id="btnSaveTest" />
                </div>
                <div class="col-md-2"></div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-2">
                <a type="button" class="btn btn-default btn-success" asp-controller="Test" asp-action="NewBloodForm" asp-route-testID=@Model.test.TestID>Create Blood Form for this test</a>
            </div>
        </div>

    </div>

    @if(Model.bloodFormList.Count > 0)
    {
        <h2>Blood Forms Created For This Test</h2>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Sample Type</th>
                        <th>Clinical Details</th>
                        <th>Test Requirements</th>
                        
                    </tr>
                </thead>

                <tbody>
                    @foreach(var item in Model.bloodFormList)
                    {
                        <tr>
                            <td><a type="button" class="btn btn-success" asp-action="BloodFormEdit" asp-route-bloodFormID=@item.BloodFormID>Select</a></td>
                            
                            @if(item.IsVenousBlood) { <td>Venous Blood</td> }
                            @if (item.IsSaliva) { <td>Saliva</td> }
                            @if(item.IsBuccalSwab) { <td>Buccal Swab</td> }
                            @if (item.IsCVS) { <td>CVS</td> }
                            @if (item.IsAmnioticFluid) { <td>Amniotic Fluid</td> }
                            @if (item.IsTissue) { <td>Tissue</td> }
                            @if (item.IsCordBlood) { <td>Cord Blood</td> }
                            @if (item.IsFetalBlood) { <td>Fetal Blood</td> }
                            <td>@item.ClinicalDetails</td>
                            <td>@item.TestingRequirements</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

</div>

<script>

    window.addEventListener("load", LoadTestData);
    document.getElementById("ddlResultGiven").addEventListener("change", SetResultGiven);
    document.getElementById("btnSaveTest").addEventListener("click", SaveTest);
    document.getElementById("btnBack").addEventListener("click", GoBack);
   
    
    function GoBack()
    {
        window.history.back();
        //window.close();
    }

    function LoadTestData()   
    {
        var _complete = "@(Model.test.COMPLETE)";
        var _dateGiven = "@(Model.test.ResultGivenDate)";

        if (_complete == -1) 
        {
            document.getElementById("ddlComplete").disabled = true;
            document.getElementById("txtResult").disabled = true;
            document.getElementById("txtComments").disabled = true;
            document.getElementById("txtDateRec").disabled = true;
            document.getElementById("txtDateGib").disabled = true;
            document.getElementById("btnSaveTest").disabled = true;
        }
        
        if (_dateGiven != "")
        {
            document.getElementById("ddlResultGiven").value = "Yes";
            document.getElementById("ddlResultGiven").disabled = true;
        }

    }

    function SetResultGiven()
    {        
        const today = new Date();
        
        if (document.getElementById("ddlResultGiven").value == "Yes")
        {
            document.getElementById("txtDateGib").value = today.toISOString().split('T')[0];
        }
        else
        {
            document.getElementById("txtDateGib").value = "";
        }
    }

    function SaveTest()
    {
        if (CheckFormValid() == 1) 
        {
            document.getElementById("TestForm").submit();
        }
    }

    function CheckFormValid() 
    {   
        if(document.getElementById("txtDateGib").value == "" && document.getElementById("ddlComplete").value == -1)
        {
            window.alert("You haven't given the result to the patient yet!");
            return 0;
        }
        
        //gotta protect against those SQL injections!
        if (document.getElementById("txtComments").value.match(/};.*/) || document.getElementById("txtResult").value.match(/};.*/)) 
        {
            window.alert("Oi! Stop trying to inject SQL code into my form!");
            return 0;
        }
        
        return 1;
    }

</script>