@model ClinicX.ViewModels.TestDiseaseVM

@{
    ViewData["Title"] = "ClinicX - Tests";
    ViewData["Page"] = "/ Test / Index";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id=Model.patient.MPI }, new { @class = "btn btn-success m-1" }),        
    };
}



<div class="container card"> 
    @if (Model.tests.Count() >= 1)
    {
        <h1 class="text-center">Tests for <a asp-controller="Patient" asp-action="PatientDetails" asp-route-id=@Model.patient.MPI>@Model.patient.FIRSTNAME @Model.patient.LASTNAME - @Model.patient.CGU_No</a></h1>

        <div class="d-grid">
            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Test</th>
                        <th>Ordered by</th>                        
                        <th>@Html.DisplayNameFor(model => model.test.DATE_REQUESTED)</th>
                        <th>@Html.DisplayNameFor(model => model.test.ExpectedDate)</th>
                        <th>@Html.DisplayNameFor(model => model.test.DATE_RECEIVED)</th>
                        <th>Lab Number</th>
                        <th>Comments</th>
                        <th>Complete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.tests)
                    {
                        <tr>
                            <td><a asp-controller="Test" asp-action="Edit" asp-route-id=@item.TestID class="btn btn-success">Select</a></td>
                            <td>@item.TEST</td>
                            <td>@item.NAME</td>                           
                            @if (item.DATE_REQUESTED.HasValue)
                            {
                                <td><span hidden>@item.DATE_REQUESTED.Value.ToString("yyyyMMdd")</span>@item.DATE_REQUESTED.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                            @if (@item.ExpectedDate.HasValue)
                            {
                                <td><span hidden>@item.ExpectedDate.Value.ToString("yyyyMMdd")</span>@item.ExpectedDate.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>Unknown</td>
                            }
                            @if (@item.DATE_RECEIVED.HasValue)
                            {
                                <td><span hidden>@item.DATE_RECEIVED.Value.ToString("yyyyMMdd")</span>@item.DATE_RECEIVED.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>Awaiting</td>
                            }

                            @if(@item.LabNo != null)
                            {
                                <td>@item.LabNo</td>
                            }
                            else
                            {
                                <td>Not yet assigned</td>
                            }
                            <td>@item.COMMENTS</td>
                            <td>@item.COMPLETE</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
        else
    {   
        <h1 class="text-center">There are no tests recorded for this patient.</h1>    
    }
    <div class="row g-5 mb-5">        
        <div col-md-2>
            <a type="button" class="btn btn-default btn-success" asp-controller="Test" asp-action="AddNew" asp-route-id=@Model.patient.MPI>Add New</a>
        </div>
        
    </div>

    <div id="metadata" hidden>
        <span id="theurl">@Context.Request.Path</span>
        <span id="thehost">@Context.Request.Host</span>
        <span id="count">@Model.tests.Count()</span>
    </div>

</div>

<script type="text/javascript">

    //document.getElementById("btnBack").addEventListener("click", GoBack);
    //document.getElementById("btnAddNew").addEventListener("click", OpenTestForm);    
    window.addEventListener("load", LoadTable);

    function LoadTable()
    {

        let table = new DataTable('#myTable',
        {
            "order": [] //disable initial sorting and allow the data sorting in the back-end
        });
    }

    function GoBack() {
        window.history.back();
        //window.close();
    }


    function OpenTestForm() 
    {
        //this incredibly round-about method is necessary because apparently it is impossible to simply pass the URL parameter into the button!
        var surl = "http://" + document.getElementById("thehost").innerHTML + document.getElementById("theurl").innerHTML;
        //surl = surl.replace("Index", "AddNew");
        //window.alert(surl);
        const _url = window.location.toString();  
        const smpi = _url.substring(_url.indexOf("=")+1, _url.length);  
        surl = surl + "/AddNew?id=" + smpi;
        window.location.href = (surl);
    }

</script>