@model ClinicX.ViewModels.TestDiseaseVM

@{
    ViewData["Title"] = "ClinicX - Test Details";
    ViewData["Page"] = "/ Test / Edit";
    ViewData["HomeBtn"] = Html.ActionLink("Home Page", "Index", "Home", new { }, new { @class = "btn btn-success m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id=Model.patient.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Full Test List for " + Model.patient.CGU_No, "Index", "Test", new { id=Model.patient.MPI }, new { @class = "btn btn-success m-1" }),
        Html.ActionLink("Back to Test Details", "Edit", "Test", new { id=Model.test.TestID }, new { @class = "btn btn-success m-1" }),
    };
}

<div class="container">
    <div cass="row mb-5 g-5">
        <h1>New blood form for @Model.patient.FIRSTNAME @Model.patient.LASTNAME</h1>
    </div>

    <div class="row mb-5 g-5">
        @if(Model.test.DATE_REQUESTED.HasValue)
        {
            <h2>Test details: @Model.test.TEST - requested on @Model.test.DATE_REQUESTED.Value.ToString("dd/MM/yyyy") by @Model.test.NAME</h2>
        }
        else
        {
            <h2>Test details: @Model.test.TEST - requested by @Model.test.NAME</h2>
        }
    </div>
        

    <form asp-action="NewBloodForm">
        <div hidden>
            <input asp-for=@Model.test.TestID name="testID" />
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-1"></div>
            <div class="col-md-1">
                <label>NHS/Private</label>
            </div>
            <div class="col-md-2">
                <label>NHS </label><input id="chkNHS" type="checkbox" checked /> <label>Private </label><input id="chkPrivate" type="checkbox" />
                <input name="isNHS" id="txtNHS" value="true" hidden />
            </div>
            <div class="col-md-1">
                <label>Urgent/Routine</label>
            </div>
            <div class="col-md-2">
                <label>Routine </label><input id="chkRoutine" type="checkbox" checked /> <label>Urgent </label><input id="chkUrgent" type="checkbox" />
                <input name="isRoutine" id="txtRoutine" value="true" hidden />
            </div>
            <div class="col-md-2">
                <label>Inpatient/Outpatient</label>
            </div>
            <div class="col-md-2">
                <label>Outpatient </label><input id="chkOutpatient" type="checkbox" checked /> <label>Inpatient </label><input id="chkInpatient" type="checkbox" /> 
                <input name="isInpatient" id="txtInpatient" value="0" hidden />                
            </div>
        </div>



        <div class="row mb-5 g-5">
            <h3>Test Details</h3>
            <div class="col-md-2">
                <label>Clinical Details</label>
            </div>
            <div class="col-md-4">
                <textarea name="clinicalDetails"></textarea>
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Date of Next Appointment</label>
            </div>
            <div class="col-md-4">
                <input type="date" name="nextAppDate" />
            </div>
            <div class="col-md-2">
                <label>Testing Requirements</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="testingRequirements" />
            </div>
        </div>
        

        <div class="row mb-5 g-5">
            <div class="col-md-1">
                <label>Prenatal</label>
            </div>
            <div class="col-md-2">
                <input type="checkbox" id="chkPrenatal" /><input type="text" name="isPrenatal" id="txtPrenatal" hidden />
            </div>
            <div class="col-md-1">
                <label>Presymptomatic</label>
            </div>
            <div class="col-md-2">
                <input type="checkbox" id="chkPresymptomatic" /><input type="text" name="isPresymptomatic" id="txtPresymptomatic" hidden />
            </div>
            <div class="col-md-1">
                <label>Diagnostic</label>
            </div>
            <div class="col-md-2">
                <input type="checkbox" id="chkDiagnostic" /><input type="text" name="isDiagnostic" id="txtDiagnostic" hidden />
            </div>
            <div class="col-md-1">
                <label>Carrier</label>
            </div>
            <div class="col-md-2">
                <input type="checkbox" id="chkCarrier" /><input type="text" name="isCarrier" id="txtCarrier" hidden />
            </div>
        </div>

        <div class="row mb-5 g-5">
            <h3>Prenatal Screening</h3>
            <div class="col-md-2">
                <label>Type of Screening</label>
            </div>
            <div class="col-md-2">
                <input type="text" name="prenatalType" />
            </div>
            <div class="col-md-2">
                <label>Gestation</label>
            </div>
            <div class="col-md-2">
                <input type="text" name="gestation" />
            </div>
            <div class="col-md-2">
                <label>Risk</label>
            </div>
            <div class="col-md-2">
                <input type="text" name="prenatalRisk" />
            </div>
        </div>

        <div class="row mb-5 g-5">
            <h3>Sample details</h3>
            <div class="col-md-2">
                <label>Specimen Type</label>
            </div>
            <div class="col-md-2">
                <select name="sampleType">
                    <option value="" selected>Select...</option>
                    @foreach (var item in Model.sampleTypes)
                    {
                        <option value=@item.SampleTypeCode>@item.SampleType</option>
                    }
                </select>
            </div>
        </div>

        <div class="row mb-5 g-5">
            <h3>Family member/relative details</h3>
            <div class="col-md-2">
                <label>Full name</label>
            </div>
            <div class="col-md-2">
                <input name="relname" />
            </div>
            <div class="col-md-2">
                <label>DOB</label>
            </div>
            <div class="col-md-2">
                <input type="date" name="relDOB" />
            </div>
            <div class="col-md-2">
                <label>Lab/NHS number</label>
            </div>
            <div class="col-md-2">
                <input name="relNumber" />
            </div>
        </div>
        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Details</label>
            </div>
            <div class="col-md-4">
                <input name="relativeDetails" />
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div class="col-md-2">
                <label>Sample Requirements</label>
            </div>
            <div class="col-md-2">
                <select name="iSampleRequirements">
                    <option value="" selected>Select...</option>
                    @foreach (var item in Model.sampleRequirementList)
                    {
                        <option value=@item.ID>@item.SampleRequirement</option>
                    }
                </select>
            </div>
        </div>

        <div class="row mb-5 g-5">
            <div action="col-md-2">
                <button type="submit" class="btn btn-default btn-outline-success">Save Form Details</button>
            </div>
        </div>
    </form>




</div>


<script>
    document.getElementById("chkNHS").addEventListener("change", SetNHSPrivate1); //because we can't do this properly with just one function, obviously!!
    document.getElementById("chkPrivate").addEventListener("change", SetNHSPrivate2);
    document.getElementById("chkRoutine").addEventListener("change", SetRoutineUrgent1); 
    document.getElementById("chkUrgent").addEventListener("change", SetRoutineUrgent2);
    document.getElementById("chkOutpatient").addEventListener("change", SetOutpatient);
    document.getElementById("chkInpatient").addEventListener("change", SetInpatient);
    document.getElementById("chkPrenatal").addEventListener("change", SetPrenatal);
    document.getElementById("chkPresymptomatic").addEventListener("change", SetPresymptomatic);
    document.getElementById("chkDiagnostic").addEventListener("change", SetDiagnostic);
    document.getElementById("chkCarrier").addEventListener("change", SetCarrier);

    function SetNHSPrivate1()
    {
       document.getElementById("chkPrivate").checked = !document.getElementById("chkNHS").checked;

       //because we can't just pass the value of the check box to the C#, oh no. That would be far too fucking simple!!!
       if(document.getElementById("chkNHS").checked)
       {
           document.getElementById("txtNHS").value="true";
       }
       else
       {
           document.getElementById("txtNHS").value="false";
       }
    }

    function SetNHSPrivate2()
    {
       document.getElementById("chkNHS").checked = !document.getElementById("chkPrivate").checked;

       if(document.getElementById("chkNHS").checked)
       {
           document.getElementById("txtNHS").value="true";
       }
       else
       {
           document.getElementById("txtNHS").value="false";
       }
    }

    function SetRoutineUrgent1()
    {
       document.getElementById("chkUrgent").checked = !document.getElementById("chkRoutine").checked;

       if(document.getElementById("chkRoutine").checked)
       {
           document.getElementById("txtRoutine").value="true";
       }
       else
       {
           document.getElementById("txtRoutine").value="false";
       }
    }

    function SetRoutineUrgent2()
    {
       document.getElementById("chkRoutine").checked = !document.getElementById("chkUrgent").checked;

       if(document.getElementById("chkRoutine").checked)
       {
           document.getElementById("txtRoutine").value="true";
       }
       else
       {
           document.getElementById("txtRoutine").value="false";
       }
    }

    function SetOutpatient()
    {
        document.getElementById("chkInpatient").checked = !document.getElementById("chkOutpatient").checked;

        if(document.getElementById("chkInpatient").checked)
        {
            document.getElementById("txtInpatient").value = 1;
        }
        else
        {
            document.getElementById("txtInpatient").value = 0;
        }
    }

    function SetInpatient()
    {
        document.getElementById("chkOutpatient").checked = !document.getElementById("chkInpatient").checked;

        if(document.getElementById("chkInpatient").checked)
        {
            document.getElementById("txtInpatient").value = 1;
        }
        else
        {
            document.getElementById("txtInpatient").value = 0;
        }
    }

    function SetPrenatal()
    {        
        document.getElementById("txtPrenatal").value = document.getElementById("chkPrenatal").checked;
    }
    
    function SetPresymptomatic()
    {
        document.getElementById("txtPresymptomatic").value = document.getElementById("chkPresymptomatic").checked;
    }

    function SetDiagnostic()
    {
        document.getElementById("txtDiagnostic").value = document.getElementById("chkDiagnostic").checked;
    }

    function SetCarrier()
    {
        document.getElementById("txtCarrier").value = document.getElementById("chkCarrier").checked;
    }

</script>